.page.--contact {
  @include jacket(critical) {
    .section.--contact {
      .container {
        @include grid-media($desktop-up) {
          display: flex;
          align-items: flex-start;
        }
      }

      .section__header {
        text-align: left;

        @include grid-media($desktop-up) {
          @include grid-column(6);
        }
      }

      .section__content {
        margin-top: 40px;
        text-align: left;
        position: relative;

        @include grid-media($desktop-up) {
          @include grid-column(6);
          margin-top: 0;
        }

        .contact {
          .form {
            form {
              @include grid-container;
    
              .first-name, .last-name, .email, .phone {
                @include grid-media($desktop-up) {
                  @include grid-column(6);
                }
              }
    
              .message {
                @include grid-media($desktop-up) {
                  @include grid-column(12);
                }
    
                textarea {
                  height: 124px;
                }

                label#message-error {
                  display: none !important;
                }
              }
    
              .button {
                border: 1px solid #e0e0e0;
                border-top-width: 0;
                padding-top: 20px;
                padding-bottom: 20px;
                text-align: center;
                width: 100%;
                background-color: #ffffff;
    
                @include grid-media($desktop-up) {
                  @include grid-column(12);
                  text-align: right;
                }
    
                button {
                  margin-right: 20px;
                }
              }
            }
          }
    
          .form-sent {
            text-align: center;
            background-color: rgba($white, 0.95);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            .image {
              margin-bottom: 30px;
            }
    
            .title {
              font-size: 22px;
              font-weight: 700;
              text-transform: uppercase;
              color: $action-color;
              margin-bottom: 15px;
            }
    
            .text {
              font-size: 16px;
              font-weight: 300;
              line-height: 1.5;
              max-width: 300px;
            }
          }

          .form-error {
            display: none;
            margin-top: 20px;

            @include grid-media($desktop-up) {
              @include grid-column(12);
            }

            .text {
              font-size: 16px;
              font-weight: 300;
              line-height: 1.5;
              max-width: 300px;
              color: $error;
            }
          }

          &.--submitted {
            .form-sent {
              display: flex;
            }
          }

          &.--error {
            .form-error {
              display: block;
            }
          }
        }
      }
    } 
  }

  @include jacket(non-critical) {
    .section.--cards {
      .section__content {
        .cards {
          .card {
            @include grid-media($desktop-up) {
              @include grid-column(4);
            }
          }
        }
      }
    }
  }
}