.page.--event {
  @include jacket(non-critical) {
    @include grid-media($desktop-up) {
      background-image: url('/wp-content/themes/litmus7/static/img/event/event_background.svg');
      background-color: #e2f3f1;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .section {
      max-width: 1220px;
      margin-right: auto;
      margin-left: auto;
    }

    .section.--event {
      background-color: $white;

      .container {
        @include grid-media($desktop-up) {
          display: flex;
          align-items: top;
          max-width: 975px;
        }
      }
      .section_header {
        @include grid-media($desktop-up) {
          @include grid-column(3);
        }
      }

      .event-date {
        font-size: 27px;
        letter-spacing: 0.01em;
        line-height: 1;
        color: $green;
        margin-bottom: 30px;

        @include grid-media($desktop-up) {
          margin-bottom: 0;
        }
      }
      
      .section__content {
        @include grid-media($desktop-up) {
          @include grid-column(9);
          //max-width: 630px;
        }

        .event-title {
          @include grid-media($desktop-up) {
            padding-left: 40px;
            border-left: 3px $green solid;
          }

          h1 {
            font-family: $base-font-family;
            @include fs5;
            font-weight: 600;
            line-height: 1.29;
            margin-bottom: 10px;
          }
        }

        .event-tagline {
          @include grid-media($desktop-up) {
            padding-left: 40px;
          }

          @include b-fs;
          font-weight: 600;
          line-height: 1.29;
          letter-spacing: -0.4px;
          margin-bottom: 25px;

          
        }

        .event-text {
          @include grid-media($desktop-up) {
            padding-left: 40px;
          }

          @include fs4;
          line-height: 1.58;
          line-height: 1.29;
          text-align: justify;
          color: #59575a;
        }

        .event-speakers {
          @include grid-media($desktop-up) {
            padding-left: 40px;
          }

          .title {
            @include fs2;
            font-weight: 700;
            color: #4a4a4a;
            margin-bottom: 25px;
          }
  
          .event-speaker {
            display: inline-block;
            text-align: left;
            margin-bottom: 20px;

            @include grid-media($desktop-up) {
              border-right: 1px $green solid;
              padding-right: 32px;
              margin-right: 32px;
              margin-bottom: 0;
            }

            .speaker-image {
              width: 67px;
              display: inline-block;
              margin-right: -67px;
              vertical-align: middle;
            }

            .speaker-details {
              display: inline-block;
              padding-left: 67px;
              vertical-align: middle;
              margin-left: 10px;

              .speaker-name {
                @include fs1;
                font-weight: 600;
                color:$green;
                width: 141px;

                @include grid-media($desktop-up) {
                  width: auto;
                }
              }
      
              .speaker-title {
                @include fs1;
                font-weight: 500;
              }
            }
          }
          
          .event-speaker:last-child {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
    }
    .section.--contact {
      background-color: $green;

      .container {
        @include grid-media($desktop-up) {
          display: flex;
          align-items: top;
          max-width: 825px;
        }
      }

      .section__header {
        @include grid-media($desktop-up) {
          @include grid-column(4);
        }

        .section__title {
          @include grid-media($desktop-up) {
            max-width: 255px;
          }

          h2 {
            font-family: $base-font-family;
            @include sh-fs;
            font-weight: 400;
            line-height: 1.28;
            color: $white;
            
          }
        }
      }
      .section__content {
        @include grid-media($desktop-up) {
          @include grid-column(8);
          //max-width: 540px;
        }

        .contact {
          text-align: left;

          .form-sent {
            text-align: center;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $green;
            position: static;
    
            .image {
              margin-bottom: 30px;
              border: 6px $white solid;
              border-radius: 100%;
              padding: 40px;

              img {
                width: 88px;
                height: 74px;
              }
            }
    
            .text {
              font-size: 32px;
              font-weight: 300;
              line-height: 1.5;
              max-width: 300px;
              color: $white;
            }
          }

          .form-error {
            display: none;
            margin-top: 20px;

            @include grid-media($desktop-up) {
              @include grid-column(12);
            }

            .text {
              font-size: 16px;
              font-weight: 300;
              line-height: 1.5;
              max-width: 300px;
              color: $error;
            }
          }

          &.--submitted {
            .form {
              display: none;
            }
            .form-sent {
              display: flex;
            }
          }

          &.--error {
            .form-error {
              display: block;
            }
          }

          @include grid-media($desktop-up) {
            margin-left: 40px;
          }
        }
      }
    }

    .section.--contact.--submitted {
      .section__header {
        display: none;
      }

      .section__content {
        width: 100%;
        float: none;
        margin-left: 0;
      }
    }
  }
}