.page.--homepage {
  @include jacket(critical) {
    .section.--hero {
      padding-bottom: 0;

      @include grid-media($desktop-up) {
        padding-bottom: 100px;
      }
      
      .container {
        @include grid-media($desktop-up) {
          display: flex;
          align-items: center;
        }
      }
    
      .section__header {
        text-align: left;

        .section__title {
          h1 {
            @include grid-media($desktop-up) {
              margin-bottom: 0;
            }
          }

          p {
            margin: 0;
          }
        }
      }
    
      .section__content {    
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;

        @include grid-media($desktop-up) {
          @include grid-column(12);
          margin-top: 60px;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  @include jacket(non-critical) {
    .section.--cards {
      @include grid-media($desktop-up) {
        //display: none;
      }
      .section__content {
        .cards {
          .card {
            max-width: none;
            padding-top: 0;
            margin-bottom: 0;
            margin-top: 0;

            @include grid-media($desktop-up) {
              min-height: 706px;
            }

            .image {
              padding-top: 0;
              height: auto;

              img {
                width: 100%;
                max-height: none;
              }
            }

            .title {
              font-size: 16px;
              font-weight: 600;
              text-transform: uppercase;
              color: $action-color;
              padding-top: 20px;
              padding-right: 40px;
              padding-bottom: 20px;
              padding-left: 40px;
            }
      
            .text {
              font-family: 'Playfair Display';
              font-size: 16px;
              font-weight: 300;
              line-height: 1.5;
              padding-right: 20px;
              padding-bottom: 30px;
              padding-left: 20px;
              height: 330px;
      
              @include grid-media($desktop-up) {
                height: 265px;
                padding-right: 40px;
                padding-left: 40px;
              }
            }
      
            .highlight-text {
              font-size: 16px;
              line-height: 1.75;
              font-weight: 700;
              padding-right: 20px;
              padding-bottom: 20px;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
