.page.--open-positions {
  @include jacket(critical) {
    .section.--hero {
      .section__header {
        .section__title {
          h1 {
            font-family: $base-font-family;
            text-align: center;
          }
        }
      }

      .section__content {
        margin-top: 45px;
        text-align: center;

        @include grid-media($desktop-up) {
          margin-top: 90px;
        }
      }
    }
  }
}

@include jacket(non-critical) {
  .mfp-container {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-wrap {
    z-index: 99999;
  }

  #apply {
    //max-width: 900px;
    width: 100%;
    background-color: $white;
    //box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    //border-radius: $base-border-radius * 4;
    @include fs3;
    line-height: 1;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
    position: fixed;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 60px);
    overflow-y: auto;

    @include grid-media($desktop-up) {
      padding-top: 60px;
      padding-right: 80px;
      padding-bottom: 60px;
      padding-left: 80px;
      top: 0;
      height: 100%;
    }

    .popup-content {
      position: relative;
    }

    .title {
      @include b-fs;
      font-weight: 700;
      color: #000000;
      margin-bottom: 20px;
    }

    .position {
      @include b-fs;
      font-weight: 700;
      text-transform: uppercase;
      color: $action-color;
      margin-bottom: 20px;
      max-width: 220px;

      @include grid-media($desktop-up) {
        max-width: none;
      }

      h3 {
        font-family: $base-font-family;
      }
    }

    .location {
      @include fs3;
      font-weight: 300;
      color: #383838;
      margin-bottom: 40px;

      @include grid-media($desktop-up) {
        border-bottom: 1px #cccccc solid;
        padding-bottom: 60px;
        margin-bottom: 50px;
      }
    }

    .apply-form {
      position: relative;
      padding-bottom: 80px;

      .form {
        form {
          .input.first-name, .input.last-name, .input.email, .input.phone, .input.portfolio {
            max-width: 400px;
          }

          .input.info {
            margin-bottom : 20px;

            @include grid-media($desktop-up) {
              border-bottom: 1px #cccccc solid;
              padding-bottom: 60px;
              margin-bottom: 30px;
            }

            textarea {
              height: 124px;
            }
          }

          .resume {
            .du-wrap {
              display: block;
              border-radius: $base-border-radius * 4;
              font-family: $base-font-family;
              min-height: 120px;

              .du-dropzone {
                display: block;
                border: 2px $action-color dashed;
                border-radius: $base-border-radius * 4;
                @include b-fs;
                color: $base-font-color;

                .du-dropzone-inner {
                  display: block;

                  a {
                    font-size: 10px;

                    @include grid-media($desktop-up) {
                      font-size: 16px;
                    }
                  }
                }

                .du-divider {
                  @include fs2;
                  color: $base-font-color;
                  font-weight: 700;
                }
              }

              .du-info {
                .du-infobox {
                  padding-bottom: 20px;
                }
                
                .du-progressbar-bg {
                  background-color:$gray-20;
                  border-radius: $base-border-radius * 4;

                  .du-progressbar {
                    background:$action-color;
                    border-radius: $base-border-radius * 4;
                    padding-right: 14px;
                    padding: 0 14px 0 0; 
                    @include fs1;
                  }
                }
              }

              .du-files {
                margin-top: 10px;

                li {
                  position: relative;
                  max-width: 36%;
                  margin-right: auto;
                  margin-left: auto;

                  &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url(/wp-content/themes/litmus7/static/img/open-positions/check.png);
                    background-size: 16px 12px;
                    width: 16px;
                    height: 12px;
                  }
                }

                li + li {
                  margin-top: 10px;
                }
              }
            }
          }

          .button {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
          }
        }

        .equal-opportunity {
          border-top: 1px #cccccc solid;
          padding-top: 60px;
          margin-top: 50px;

          .title {
            cursor: pointer;

            .plus {
              display: inline-block;
            }
    
            .minus {
              display: none;
            } 
          }

          .text {
            @include fs3;
            line-height: 1.5;
            display: none;
          }
        }

        .equal-opportunity.--collapsed {
          .title {
            .plus {
              display: none;
            }
    
            .minus {
              display: inline-block;
            } 
          }

          .text {
            display: block;
          }
        }
      }

      .form-sent {
        text-align: center;
        background-color: rgba($white, 0.95);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image {
          margin-bottom: 30px;
        }

        .title {
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase;
          color: $action-color;
          margin-bottom: 15px;
        }

        .text {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          max-width: 300px;
        }
      }

      .form-error {
        display: none;
        margin-top: 20px;

        .text {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          max-width: 300px;
          color: $error;
        }
      }
    }

    &.--submitted {
      .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translatey(-50%);
      }

      .title, .position, .location {
        display: none;
      }

      .apply-form {
        padding-bottom: 0;
      }

      .form {
        display: none;
      }

      .form-sent {
        display: flex;
        background-color: $white;
        position: static;
      }
    }

    &.--error {
      .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translatey(-50%);
      }

      .title, .position, .location {
        display: none;
      }

      .apply-form {
        padding-bottom: 0;
      }

      .form {
        display: none;
      }

      .form-error {
        display: block;
      }
    }
  }

  .popup {
    .mfp-close {
      font-size: 0;
      background-image: url(/wp-content/themes/litmus7/static/img/open-positions/close.png);
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      top: 15px;
      right: 15px;
    }

    .mfp-close:hover {
      background-color: $white;
    }
  }
}