.page.--services {
  @include jacket(critical) {
    .section.--hero {
      text-align: center;

      .section__header {
        .section__text {
          @include grid-media($desktop-up) {
            max-width: 840px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      .section__content {
        margin-top: 60px;
        margin-left: 0;
        position: relative;
        width: 100%;

        @include grid-media($desktop-up) {
          margin-top: 100px;
          width: calc(100% - 40px);
          margin-left: 20px;
        }

        .overlay {
          background-color: $white;
          opacity: .8;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          display: none;
        }

        .overlay.--open {
          display: block;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }

        .services-links {
          position: absolute;
          top: 0;
          left: 50%;
          right: 0;
          bottom: 0;
          max-width: 375px;
          width: 100%;
          transform: translateX(-50%);

          @include grid-media($desktop-up) {
            position: static;
            transform: none;
            max-width: auto;
          }

          .service-item {
            
            .service-number {
              position: absolute;
              z-index: 0;

              @include grid-media($desktop-up) {
                display: none;
              }

              .service-link__number {
                width: 40px;
                height: 40px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                background-color: $white;
                border: 2px $action-color solid;
                padding: 0;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
                color: $action-color;
                
      
                @include grid-media($desktop-up) {
                  display: none;
                }
              }
            }

            .service-link {
              width: 120px;
              height: 120px;
              border-radius: $base-border-radius * 3;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
              background-color: $white;
              border: 2px $action-color solid;
              position: relative;
              padding: 20px 6px;
              display: none;
              position: absolute;
              z-index: 2;

              @include grid-media($desktop-up) {
                display: block;
              }

              a {
                word-break: keep-all;
              }

              .service-link__box {
                .image {
                  text-align: center;
                  display: inline-block;
                  margin-bottom: 10px;
                }
          
                .title {
                  @include fs1s;
                  font-weight: 700;
                  text-transform: uppercase;
                  line-height: 1.2;
                  letter-spacing: 0.05em;
                  text-align: center;
                  color: $action-color;
                }

                .arrow {
                  width: 32px;
                  height: 32px;
                  background-image: url('/wp-content/themes/litmus7/static/img/services/arrow-circle.svg');
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: 22px 20px;
                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translateX(50%) translateY(-50%);
                  border: 0;
                  padding: 0;
                  margin: 0;
                  background-color: transparent;
                }
              }

              .service-link__close {
                width: 32px;
                height: 32px;
                background-image: url('/wp-content/themes/litmus7/static/img/services/close-circle.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 22px 20px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateX(-50%) translateY(-50%);
                border: 0;
                padding: 0;
                margin: 0;
                background-color: transparent;
      
                @include grid-media($desktop-up) {
                  display: none;
                }
              }
            }

            .service-link.--open {
              position: absolute;
              top: 50% !important;
              left: 50% !important;
              transform: translateX(-50%) translateY(-50%);
              //z-index: 2;
              display: block;
            }
          }

          .service-item.--digital-commerce {
            .service-number{
              top: 46px;
              left: 81px;
            }

            .service-link {
              top: 76px;
              left: 62px;
            }
          }
          
          .service-item.--high-end-engineering {
            .service-number {
              top: 46px;
              left: 266px;
            }

            .service-link {
              top: 56px;
              left: 362px; 
            }
          }

          .service-item.--infrastructure-services {
            .service-number {
              top: 101px;
              left: 176px;
            }

            .service-link {
              top: 56px;
              left: 780px;
            }
          }

          .service-item.--services-implementation {
            .service-number {
              top: 177px;
              left: 35px;
            }

            .service-link {
              top: 264px;
              left: 149px;
            }
          }

          .service-item.--user-journey-and-experience {
            .service-number {
              top: 203px;
              left: 231px;
            }

            .service-link {
              top: 241px;
              left: 462px;
            }
          }

          .service-item.--consulting-and-research {
            .service-number {
              top: 284px;
              left: 101px;
            }

            .service-link {
              top: 222px;
              left: 966px;
            }
          }
        }
      }
    }
  }
}
