.page.--skills {
  @include jacket(critical) {
    .section.--hero {
      .section__header {
        text-align: center;

        .section__title {
          br {
            display: none;

            @include grid-media($desktop-up) {
              display: block;
            }
          }
        }
      }

      .section__content {
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;

        @include grid-media($desktop-up) {
          @include grid-column(12);
          margin-top: 60px;
        }

        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
