.page.--team {
  @include jacket(critical) {
    .section.--hero {
      padding-bottom: 0;
  
      @include grid-media($desktop-up) {
        padding-bottom: 100px;
      }
  
      .section__header {
        text-align: left;
  
        @include grid-media($desktop-up) {
          text-align: center;
        }
        
        .section__title {
          br {
            display: none;
  
            @include grid-media($desktop-up) {
              display: block;
            }
          }
        }
      }
  
      .section__content {    
        text-align: center;
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
  
        @include grid-media($desktop-up) {
          @include grid-column(12);
          margin-top: 60px;
        }
  
        img {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  @include jacket(non-critical) {
    .section.--call-to-action {
      padding-right: 20px;
      padding-left: 20px;
      background-image: url('/wp-content/themes/litmus7/static/img/team/join.svg');
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 135px 167px;
      padding-bottom: 200px;
  
      @include grid-media($desktop-up) {
        background-position: 68% bottom;
        background-size: 213px 261px;
        display: flex;
        align-items: center;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 80px;
      }
    
      .section__content {
        @include grid-media($desktop-up) {
          text-align: right;
        }
      }
    }
  }
}