@keyframes blink {
	0%  {opacity: 1}
	50% {opacity: 0}
}

.animated {
  opacity: 0;
}

.hide-on-mobile {
  display: none !important;

  // @include grid-media($tablet-up) {
  //   display: block !important;
  // }

  @include grid-media($desktop-up) {
    display: block !important;
  }
}

.hide-on-desktop {
  display: block !important;

  // @include grid-media($tablet-up) {
  //   display: none !important;
  // }

  @include grid-media($desktop-up) {
    display: none !important;
  }
}

.container {
  @include grid-container;
  width: 100%;
}

.mfp-bg {
  background-color: rgba($white, 0.83);
}

.form {
  input.error, 
  textarea.error {
    border-color: $error;
  }

  label.error {
    @include fs0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $error;
    position: relative;
    top: -20px;
  }
}

.form-sent {
  text-align: center;
  background-color: rgba($white, 0.95);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    margin-bottom: 30px;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $action-color;
    margin-bottom: 15px;
  }

  .text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 300px;
  }
}

.form-error {
  display: none;
  margin-top: 20px;

  .text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    max-width: 300px;
    color: $error;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  
  @include grid-media($desktop-up) {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
  }

  .section__header {
    @include grid-column(12);

    .section__title {
      h1 {
        margin-bottom: 20px;
      }

      h2 {
        margin-bottom: 20px;

        @include grid-media($desktop-up) {
          margin-bottom: 60px;
        }
      }
      
      em {
        font-style: normal;
        color: $action-color;
      }
    }
  }

  .section__content {
    @include grid-column(12);
    font-size: 0;

    
  }

  .text {
    @include b-fs;
    line-height: 1.75;
  }

  .txt-rotate > .wrap { 
    position: relative;
    border-right: 1px transparent solid;
  }

  .txt-rotate > .wrap:after { 
    content: ''; 
    display: block; 
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 2px; 
    height: 80%; 
    background-color: #22bca8;
    animation: blink 750ms infinite;
  }
}

.section.--text-and-media {
  .section__header {
    .section__title {
      h2 {
        margin-bottom: 20px;

        @include grid-media($desktop-up) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.section.--text {
  text-align: left;

  .section__header {
    @include fs3;

    @include grid-media($desktop-up) {
      @include grid-column(12);
      margin-right: 0;
    }

    .section__title {
      h1 {
        margin-bottom: 30px;
      }
    }
  }

  .section__content {
    @include fs3;

    @include grid-media($desktop-up) {
      @include grid-column(12);
      margin-right: 0;
    }

    h2 {
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }
}