$theme_dir: "/wp-content/themes/litmus7";
$img_dir: "/wp-content/themes/litmus7/static/img";
$jacket: critical;

@charset "UTF-8";

// Reset
@import "normalize";

// Utilities
@import "utils/bourbon/bourbon";
@import "utils/neat/neat";
@import "utils/base/base";
@import "utils/jacket";

// Common
@import "fonts";
@import "common";
@import "layout/layout";
@import "layout/header";

// Templates
@import "templates/homepage";
@import "templates/privacy-policy";
@import "templates/contact";
@import "templates/team";
@import "templates/skills";
@import "templates/services"; 
@import "templates/open-positions";
@import "templates/case-studies";