$theme_dir: "/wp-content/themes/litmus7";
$img_dir: "/wp-content/themes/litmus7/static/img";
$jacket: non-critical;

@charset "UTF-8";

// Utilities
@import "utils/bourbon/bourbon";
@import "utils/neat/neat";
@import "utils/base/base";
@import "utils/jacket";

// Common
@import "layout/footer";

// Templates
@import "templates/homepage";
@import "templates/privacy-policy";
@import "templates/contact";
@import "templates/team";
@import "templates/skills";
@import "templates/services"; 
@import "templates/open-positions";
@import "templates/case-studies";
@import "templates/event";


// Widgets
@import "widgets/stats";
@import "widgets/logos"; 
@import "widgets/cards";
@import "widgets/carousel";
@import "widgets/call_to_action";
@import "widgets/text_and_media";
@import "widgets/team_members";
@import "widgets/branches";
@import "widgets/services";
@import "widgets/positions";
@import "widgets/grid";
@import "widgets/cover";
@import "widgets/cases";
@import "widgets/case_study"; 

// Vendors
@import "vendor/slick/slick-theme";