{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% do action('after_opening_body') %}
		<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
		<header>
			{% block header %}
				<div class="header">
					<div class="container">
						<div class="banner">
							<img
								src="/wp-content/themes/litmus7/static/img/banner@3x.png"
								width="100"
								height="170"
								alt="Litmus7 - Great place to work"
							/>
						</div>
						<div class="header-logo">
							<a href="{{site.url}}" rel="home">
								<img
									src="/wp-content/themes/litmus7/static/img/litmus7_logo.svg"
									width="118"
									height="20"
									alt="Litmus7"
								/>
							</a>
						</div>
						<div class="header-menu">
							<div class="mobile-menu-button">
								<div class="line line-1"></div>
								<div class="line line-2"></div>
								<div class="line line-3"></div>
							</div>
							<nav role="navigation">
								{% include "menu.twig" with {'menu': headerMenu.get_items} %}
							</nav>
						</div>
					</div>
				</div>
			{% endblock %}
		</header>
		<div class="header-pusher"></div>

		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		{% block footer_scripts %}
		{% endblock %}
	</body>
</html>
