<footer>
  <div class="footer-menu">
    <div class="container">
      <nav role="navigation">
        {% include "menu.twig" with {'menu': footerMenu.get_items} %}
      </nav>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div class="footer-all-rights-reserved">
        <div class="logo">
          <a href="/">
            <img
              src="/wp-content/themes/litmus7/static/img/logomark-black.svg"
              width="66"
              height="35"
              alt="Litmus7"
            />
          </a>
        </div>
        <div class="copyright">
          <p>&copy; {{"now"|date('Y')}} Litmus7 Systems Consulting Ltd. All rights reserved</p>
        </div>
      </div>
      <div class="footer-social-media">
        <nav role="navigation">
          <ul>
            <li>
              <a
                href="https://www.facebook.com/litmus7" 
                target="_blank" 
                rel="noopener noreferrer"
              >
                <img
                  src="/wp-content/themes/litmus7/static/img/facebook.svg"
                  width="11"
                  height="23"
                  alt="Litmus7 on Facebook"
                />
              </a>
            </li>
            <li>
              <a
                href="https://twitter.com/litmus7inc" 
                target="_blank" 
                rel="noopener noreferrer"
              >
                <img
                  src="/wp-content/themes/litmus7/static/img/twitter.svg"
                  width="28"
                  height="23"
                  alt="Litmus7 on Twitter"
                />
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/litmus7-systems-consulting" 
                target="_blank" 
                rel="noopener noreferrer"
              >
                <img
                  src="/wp-content/themes/litmus7/static/img/linkedin.svg"
                  width="25"
                  height="25"
                  alt="Litmus7 on LinkedIn"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>