{% extends "base.twig" %}
  {% set title = post.get_field('title') %}
  {% set title_type = post.get_field('title_type') %}
  {% set title_before_typer = post.get_field('title_before_typer') %}
  {% set typer_option_1 = post.get_field('typer_option_1') %}
  {% set typer_option_2 = post.get_field('typer_option_2') %}
  {% set title_after_typer = post.get_field('title_after_typer') %}
  {% set tagline = post.get_field('tagline') %}
  {% set image = post.get_field('image') %}
  
  {% block content %}
  <div class="page --homepage">
    <section class="section --hero">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h1>
              {{ title_before_typer }}
              <em class="txt-rotate" data-period="2000" data-rotate="[ &quot;{{ typer_option_1 }}&quot;,&quot;{{ typer_option_2 }}&quot; ]"></em>
              {{ title_after_typer }}
            </h1>
          </div>
        </div>
        <div class="section__content">
          {# <img
            data-src="{{ TimberImage(image) }}"
            alt="{{ image.alt }}"
            width="{{ image.width / 3 }}"
            height="{{ image.height / 3 }}"
            class="lazy"
          /> #}
            <div class="svg-animation" data-animation="/wp-content/themes/litmus7/static/json/homepage/hero_all.json"></div>
        </div>
      </div>
    </section>

    {% include "widgets.twig" with {'sections': post.get_field('sections'), 'positions': positions} %}

  </div>
  {% endblock %}