{% extends "base.twig" %}

{% block content %}
  {% set title = post.get_field('title') %}
  {% set tagline = post.get_field('tagline') %}

  <div class="page --contact">
    <section class="section --contact animated2" data-animation="fadeIn">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h1>
              {{ title }}
            </h1>
          </div>
          <div class="section__text">
            <div>
              {{ tagline }}
            </div>
          </div>
        </div>
        <div class="section__content">
          <div class="contact">
            <div class="form">
              <form 
                id="contact-form"
                method="post"
                action="https://hooks.zapier.com/hooks/catch/3205781/a2t2tx/"
              >
                <div class="input first-name">
                  <label for="first-name">
                    First Name
                  </label>
                  <input 
                    type="text" 
                    id="first-name" 
                    name="first-name" 
                    placeholder="First Name" 
                    required
                  />
                </div>
                <div class="input last-name">
                  <label for="last-name">
                    Last Name
                  </label>
                  <input 
                    type="text" 
                    id="last-name" 
                    name="last-name" 
                    placeholder="Last Name" 
                    required
                  />
                </div>
                <div class="input email">
                  <label for="email">
                    Email
                  </label>
                  <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    placeholder="Email" 
                    required
                  />
                </div>
                <div class="input phone">
                  <label for="phone">
                    Phone
                  </label>
                  <input
                    type="text" 
                    id="phone" 
                    name="phone" 
                    placeholder="Phone" 
                    required
                  />
                </div>
                <div class="input message">
                  <label for="message">
                    Your Message
                  </label>
                  <textarea 
                    type="text" 
                    id="message" 
                    name="message" 
                    placeholder="Your Message"
                    required
                  ></textarea>
                </div>
                <div class="button">
                  <button 
                    type="submit" 
                    id="submit"
                    class="btn btn-primary btn-md"
                  >
                    Send
                  </button>
                </div>
              </form>
            </div>
            <div class="form-sent">
              <div class="image">
                <img 
                  src="/wp-content/themes/litmus7/static/img/contact/sent.svg" 
                  width="94" 
                  height="80" 
                  alt="Thank You"
                />
              </div>
              <div class="title">
                Thank You
              </div>
              <div class="text">
                <p>
                  Your message has been successfully sent.
                  We will get back to you shortly.
                </p>
              </div>
            </div>
            <div class="form-error">
              <div class="text">
                <p>
                  Your message couldn't be delivered, please try again later.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "widgets.twig" with {'sections': post.get_field('sections')} %}
  </div>
{% endblock %}