{% extends "base.twig" %}

{% block content %}
  {% set title = post.get_field('title') %}

  <div class="page --open-positions">
    <section class="section --hero">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h1 class="animated2" data-animation="fadeIn">
              {{ title }}
            </h1>
          </div>
        </div>
        <div class="section__content">
          <div class="button">
            <a 
              href="#open-positions" 
              class="btn btn-primary btn-lg animated2"
              data-animation="fadeIn"
            >
              View Open Positions
            </a>
          </div>
        </div>
      </div>
    </section>
    
    {% include "widgets.twig" with {'sections': post.get_field('sections'), 'positions': positions} %}
  </div>
{% endblock %}