{% extends "base.twig" %}

{% block content %}
  {% set title = post.get_field('title') %}
  {% set tagline = post.get_field('tagline') %}
  {% set image = post.get_field('image') %}
  {% set mobile_image = post.get_field('mobile_image') %}

  <div class="page --case-studies">
    <section class="section --hero animated2" data-animation="fadeIn">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h1>
              {{ title }}
            </h1>
          </div>
          <div class="section__text">
            <p>
              {{ tagline }}
            </p>
          </div>
        </div>
        <div class="section__content">
          <img
            src="{{ TimberImage(mobile_image) }}"
            alt="{{ mobile_image.alt }}"
            class="hide-on-desktop"
          />

          <img
            src="{{ TimberImage(image) }}"
            alt="{{ image.alt }}"
            class="hide-on-mobile"
          />
        </div>
      </div>
    </section>

    {% include "widget.case_studies.twig" with {'post': post} %}

    {% include "widgets.twig" with {'sections': post.get_field('sections')} %}

  </div>
{% endblock %}