{% extends "base.twig" %}

{% block content %}
<div class="page --default">
  <section class="section --text animated2" data-animation="fadeIn">
    <div class="container">
      <div class="section__header">
        <div class="section__title">
          <h1>{{ post.title }}</h1>
        </div>
      </div>
      <div class="section__content">
        {{ post.content }}
      </div>
    </div>
  </section>
</div>
{% endblock %}