{% extends "base.twig" %}

{% block content %}
  {% set event = post.get_field('event') %}
  <div class="page --event">
    <section class="section --event animates2" data-animation="fadeIn">
      <div class="container">
        <div class="section_header">
          <div class="event-date hide-on-mobile">
            {{ event.event_date }}
          </div>
        </div>
        <div class="section__content">
          <div class="event-title">
            <h1>
              {{ event.event_title }}
            </h1>
          </div>
          <div class="event-tagline">
              {{ event.event_tagline }}
          </div>
          <div class="event-text">
            {{ event.event_text }}
          </div>
          <div class="event-date hide-on-desktop">
            {{ event.event_date }}
          </div>
          <div class="event-speakers">
            <div class="title">
              Speakers 
            </div>
            {% for event_speaker in event.event_speakers %}
              <div class="event-speaker --{{ loop.index }}">
                <div class="speaker-image">
                  <img
                    src="{{ TimberImage(event_speaker.image) }}"
                    alt="{{ event_speaker.image.alt }}"
                    width="{{ event_speaker.image.width  / 3}}"
                    height="{{ event_speaker.image.height / 3 }}"
                  />
                </div>
                <div class="speaker-details">
                  <div class="speaker-name">
                  {{ event_speaker.name }}
                  </div>
                  <div class="speaker-title">
                    {{ event_speaker.title }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section class="section --contact animated2" data-animation="fadeIn">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h2>
              I wish to join Litmus7 event
            </h2>
          </div>
        </div>
        <div class="section__content">
          <div class="contact">
            <div class="form">
              <form 
                id="contact-form"
                method="post"
                action="{{ event.event_webhook }}"
              >
                <div class="input event-title-field">
                  <input 
                    type="hidden" 
                    id="event-title" 
                    name="event-title"
                    value="{{ event.event_title }}"
                  />
                </div>
                <div class="input first-name">
                  <label for="full-name">
                    Full Name
                  </label>
                  <input 
                    type="text" 
                    id="full-name" 
                    name="full-name" 
                    placeholder="Full Name" 
                    required
                  />
                </div>
                <div class="input email">
                  <label for="email">
                    Email
                  </label>
                  <input 
                    type="text" 
                    id="email" 
                    name="email" 
                    placeholder="Email" 
                    required
                  />
                </div>
                <div class="input phone">
                  <label for="phone">
                    Phone
                  </label>
                  <input
                    type="text" 
                    id="phone" 
                    name="phone" 
                    placeholder="Phone" 
                    required
                  />
                </div>
                <div class="input company">
                  <label for="company">
                    Company
                  </label>
                  <input 
                    type="text" 
                    id="company" 
                    name="company" 
                    placeholder="company" 
                    required
                  />
                </div>
                <div class="button">
                  <button 
                    type="submit" 
                    id="submit"
                    class="btn btn-dark-green btn-md"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
            <div class="form-sent">
              <div class="image">
                <img
                  src="/wp-content/themes/litmus7/static/img/event/checkmark@3x.png"
                  width="140"
                  height="140"
                  alt="Thank You"
                />
              </div>
              <div class="text">
                <p>
                  THANK YOU FOR REGISTERING!
                  <br/>
                  <strong>SEE YOU SOON.</strong>
                </p>
              </div>
            </div>
            <div class="form-error">
              <div class="text">
                <p>
                  Your message couldn't be delivered, please try again later.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}