{% extends "base.twig" %}

{% block content %}
  {% set title = post.get_field('title') %}
  {% set tagline = post.get_field('tagline') %}

  <div class="page --services">

    <section class="section --hero animated2" data-animation="fadeIn">
      <div class="container">
        <div class="section__header">
          <div class="section__title">
            <h1>
              {{ title }}
            </h1>
          </div>
          <div class="section__text">
            <p>
              {{ tagline }}
            </p>
          </div>
        </div>
        <div class="section__content">
          <img 
            src="/wp-content/themes/litmus7/static/img/services/services-hero-mobile.svg" 
            width="375" 
            height="368" 
            alt="Our Retail Services"
            class="hide-on-desktop"
          />

          <img 
            src="/wp-content/themes/litmus7/static/img/services/services-hero.svg" 
            width="1180" 
            height="427" 
            alt="Our Retail Services"
            class="hide-on-mobile"
          />

          <div class="services-links">
            <div class="overlay"></div>
            <div class="service-item --digital-commerce">
              <div class="service-number">
                <button type="button" class="service-link__number">1</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#digital-commerce">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/digital-commerce.svg" 
                        width="62" 
                        height="50" 
                        alt="Digital Commerce"
                      />
                    </div>
                    <div class="title">
                      Digital Commerce
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="service-item --high-end-engineering">
              <div class="service-number">
                <button type="button" class="service-link__number">2</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#high-end-engineering">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/high-end-engineering.svg" 
                        width="45" 
                        height="50" 
                        alt="High End Engineering"
                      />
                    </div>
                    <div class="title">
                      High End Engineering
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="service-item --infrastructure-services">
              <div class="service-number">
                <button type="button" class="service-link__number">3</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#infrastructure-services">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/infrastructure-services.svg" 
                        width="50" 
                        height="50" 
                        alt="Infrastructure Services"
                      />
                    </div>
                    <div class="title">
                      Infrastructure Services
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="service-item --services-implementation">
              <div class="service-number">
                <button type="button" class="service-link__number">4</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#services-implementation">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/services-implementation.svg" 
                        width="62" 
                        height="50" 
                        alt="Services Implementation"
                      />
                    </div>
                    <div class="title">
                      Services Implementation
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="service-item --user-journey-and-experience">
              <div class="service-number ">
                <button type="button" class="service-link__number">5</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#user-journey-and-experience">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/ui-studio-workshops.svg" 
                        width="52" 
                        height="50" 
                        alt="User Journey & Experience"
                      />
                    </div>
                    <div class="title">
                      User Journey & Experience
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="service-item --consulting-and-research">
              <div class="service-number">
                <button type="button" class="service-link__number">6</button>
              </div>
              <div class="service-link">
                <button type="button" class="service-link__close"></button>
                <a href="#consulting-and-research">
                  <div class="service-link__box">
                    <div class="image">
                      <img 
                        src="/wp-content/themes/litmus7/static/img/services/retail-digital-strategy-consulting.svg" 
                        width="55" 
                        height="50" 
                        alt="Consulting & Research"
                      />
                    </div>
                    <div class="title">
                      Consulting & Research
                    </div>
                    <div class="arrow"></div>
                  </div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    {% include "widgets.twig" with {'sections': post.get_field('sections')} %}

  </div>
{% endblock %}