{% if data.logos_position %} {# logos on the right #}
  <section class="section --logos --right">
    <div class="container">
      <div class="section__header">
        <div class="section__title">
          <h2>
            {{data.section_title }}
          </h2>
        </div>
        <div class="section__text">
          <p>
            {{ data.section_text }}
          </p>
        </div>
      </div>
      <div class="section__content">
        <div class="logos">
          {% for logo in data.logos %}
            <div class="logo logo-{{ loop.index }}">
              <img
                data-src="{{ TimberImage(logo) }}"
                alt="{{ logo.alt }}"
                width="{{ logo.width }}"
                height="{{ logo.height }}"
                class="lazy"
              />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% else %}
    <section class="section --logos">
      <div class="container">
        <div class="section__header animated2" data-animation="fadeIn">
          <div class="section__title">
            <h2>
              {{ data.section_title }}
            </h2>
          </div>
        </div>
        <div class="section__content animated2" data-animation="fadeIn">
          <div class="logos">
            {% for logo in data.logos %}
              <div class="logo logo-{{ loop.index }}">
                <img
                  data-src="{{ TimberImage(logo) }}"
                  alt="{{ logo.alt }}"
                  width="{{ logo.width }}"
                  height="{{ logo.height }}"
                  class="lazy"
                />
              </div>
            {% endfor %}
          </div>
          <div class="text">
            <p>
              {{ data.section_text }}
            </p>
          </div>
        </div>
      </div>
    </section>
{% endif %}