<div id="{{ data.section_id }}" class="anchor"></div>
<section class="section --services">
  <div class="container">
    <div class="section__header animated2" data-animation="fadeIn">
      <div class="section__image">
        <img
          data-src="{{ TimberImage(data.section_image) }}"
          alt="{{ data.section_image.alt }}"
          class="lazy"
        />
      </div>
      <div class="section__title">
        <h2>
          {{ data.section_title }}
        </h2>
      </div>
      {% if data.section_text %}
        <div class="section__text">
          {{ data.section_text }}
        </div>
      {% endif %}
    </div>

    {% if data.items|length > 0 %}
      <div class="section__content">
        <div class="items carousel --mobile" data-config='{"mobileFirst": true, "arrows": false, "dots": true, "slidesToShow": 1, "slidesToScroll": 1, "responsive": [ { "breakpoint": 768, "settings": { "slidesToShow": 2, "slidesToScroll": 1 } }, {"breakpoint": 1180, "settings": "unslick"}]}'>
          {% for item in data.items %}
            <div class="item item-{{ loop.index }} animated2" data-animation="fadeIn">
              <div class="title">
                  {{ item.title }}
              </div>
              <div class="text">
                <p>
                  {{ item.text }}
                </p>
              </div>
              <div class="show-more">
                Show more
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>
</section>