<section class="section --text-and-media animated22" data-animation="fadeIn">
  <div class="container">
    {% if data.media_position == 'right' %}
      <div class="section__header">
        <div class="section__title">
          <h2 class="animated2" data-animation="fadeIn">
            {{ data.section_title }}
          </h2>
        </div>
        <div class="section__text animated2" data-animation="fadeIn">
            {{ data.section_text }}
        </div>
      </div>
      <div class="section__content">
        {% if data.media_type == 'image' %}
          <img
            data-src="{{ TimberImage(data.section_image) }}"
            alt="{{ data.section_image.alt }}"
            width="{{ data.section_image.width / 3 }}"
            height="{{ data.section_image.height / 3 }}"
            class="lazy"
          />
        {% else %}
          <div class="svg-animation" data-animation="{{data.section_animation}}"></div>
        {% endif %}
      </div>
    {% elseif data.media_position == 'left' %}
      <div class="section__header">
        {% if data.media_type == 'image' %}
        <img
          data-src="{{ TimberImage(data.section_image) }}"
          alt="{{ data.section_image.alt }}"
          width="{{ data.section_image.width / 3 }}"
          height="{{ data.section_image.height / 3 }}"
          class="lazy animated2" data-animation="fadeIn"
        />
        {% else %}
          <div class="svg-animation" data-animation="{{data.section_animation}}"></div>
        {% endif %}
      </div>
      <div class="section__content">
        <div class="section__title">
          <h2 class="animated2" data-animation="fadeIn">
            {{ data.section_title }}
          </h2>
        </div>
        <div class="section__text animated2" data-animation="fadeIn">
            {{ data.section_text }}
        </div>
      </div>
    {% else %} {# no media #}
      <div class="section__header">
        <div class="section__title">
          <h2 class="animated2" data-animation="fadeIn">
            {{ data.section_title }}
          </h2>
        </div>
      </div>
      <div class="section__content">
        <div class="section__text animated2" data-animation="fadeIn">
            {{ data.section_text }}
        </div>
      </div>
    {% endif %}
  </div>
</section>