<section class="section --cover animated2" data-animation="fadeIn">
  <div class="container">
    <div class="section__content">
      <div class="cover" style="background-image: url({{ data.image.url }})"></div>
    </div>
  </div>
</section>
  