{% for section in sections %}
  {% if section.acf_fc_layout == 'stats' %}
    {% include 'widget.stats.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'logos' %}
    {% include 'widget.logos.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'text_and_media' %}
    {% include 'widget.text_and_media.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'cover' %}
    {% include 'widget.cover.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'partners' %}
    {% include 'widget.partners.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'platforms' %}
    {% include 'widget.platforms.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'success_stories' %}
    {% include 'widget.success_stories.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'cards' %}
    {% include 'widget.cards.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'team_members' %}
    {% include 'widget.team_members.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'grid' %}
    {% include 'widget.grid.twig' with {'data': section, 'filters': filters} %}
  {% elseif section.acf_fc_layout == 'branches' %}
    {% include 'widget.branches.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'services' %}
    {% include 'widget.services.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'positions' %}
    {% include 'widget.positions.twig' with {'data': section, 'positions': positions} %}
  {% elseif section.acf_fc_layout == 'case_study' %}
    {% include 'widget.case_study.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'customer_story' %}
    {% include 'widget.customer_story.twig' with {'data': section} %}
  {% elseif section.acf_fc_layout == 'call_to_action' %}
    {% include 'widget.call_to_action.twig' with {'data': section} %}
  {% endif %}
{% endfor %}