<section class="section --stats animated2" data-animation="fadeIn">
  <div class="container">
    <div class="section__content">
      <div class="stats">
        {% for item in data.stats %}
          <div class="stat">
            <div class="value">
              <span class="symbol">{% if item.value.symbol %}{{ item.value.symbol }}{% endif %}</span><span class="number">{% if item.value.number %}{{ item.value.number }}{% endif %}</span><span class="letter">{% if item.value.letter %}{{ item.value.letter }}{% endif %}</span>
            </div>
            <div class="key">
              {{ item.key }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>