<section class="section --customer-story">
  <div class="container">
    <div class="section__content">
      <div class="section__title">
        <h2>
          {{ data.section_title }}
        </h2>
      </div>
      <div class="items">
        {% for item in data.items %}
          <div class="item item-{{ loop.index }} animated2" data-animation="fadeIn">
            <div class="title">
              {{ item.title }}
            </div>
            <div class="text">
              {{ item.text }}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if data.quote.text %}
        <div class="quote">
          <div class="text">
            <div class="quote-mark"> “ </div>
            {{ data.quote.text }}
          </div>
          <div class="author">
            <blockquote>
              {{ data.quote.author }}
            </blockquote>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>