<section class="section --team-members animated2" data-animation="fadeIn">
  <div class="section__header">
    <div class="section__title">
      <h2 class="animated2" data-animation="fadeIn">
        Words of Wisdom
      </h2>
    </div>
  </div>
  <div class="section__content">
    <div class="team-members carousel --default" data-config="default">
      {% for team_member in data.team_members %}
        <div class="team-member --{{ loop.index }}">
          <div class="image">
            <img
              data-src="{{ TimberImage(team_member.image) }}"
              alt="{{ team_member.image.alt }}"
              width="{{ team_member.image.width  / 3}}"
              height="{{ team_member.image.height / 3 }}"
              class="lazy"
            />
          </div>
          <div class="text">
            <blockquote>
              {{ team_member.text }}
            </blockquote>
          </div>
          <div class="name">
            {{ team_member.name }}
          </div>
          <div class="title">
            {{ team_member.title }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
