<section class="section --cards">
  <div class="container">
    <div class="section__header">
      <div class="section__title">
        <h2>
          {{ data.title }}
        </h2>
      </div>
    </div>
    <div class="section__content">
      !@#{{ data.mobile_carousel }}!@#
      <div class="cards {% if data.mobile_carousel %} carousel  --mobile {% endif %}" data-config="mobile">
        {% for card in data.cards %}
          <div class="card card-{{ loop.index }} animated2" data-animation="fadeIn">
            <div class="image">
                <img
                  data-src="{{ TimberImage(card.image) }}"
                  alt="{{ card.image.alt }}"
                  width="{{ card.image.width }}"
                  height="{{ card.image.height }}"
                  class="lazy"
                />
            </div>
            <div class="title">
                {{ card.title }}
            </div>
            <div class="text">
                <p>
                  {{ card.text }}
                </p>
            </div>
            {% if card.highlight_text %}
              <div class="highlight-text">
                {{ card.highlight_text }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>