<section class="section --call-to-action">
  <div class="container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="animated2" data-animation="fadeIn">
          {{ data.section_title }}
        </h2>
      </div>
    </div>
    <div class="section__content">
      <div class="button animated2" data-animation="fadeIn">
        <a 
          href="{% if data.button.link_type == 'outside_link' %}{{ data.button.button_outside_link }}{% endif %}{% if data.button.link_type == 'inside_link' %}{{ data.button.button_inside_link }}{% endif %}" 
          {% if data.button.link_type == 'outside_link' %}target="_blank"{% endif %}
          {% if data.button.link_type == 'outside_link' %}rel="noopener noreferrer"{% endif %}
          class="btn btn-primary btn-lg"
        >
        {{ data.button.button_text }}
        </a>
      </div>
    </div>
  </div>
</section>