<section class="section --skills">
  <div class="container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="animated2" data-animation="fadeIn">
          {{ data.grid.section_title }}
        </h2>
      </div>
    </div>
    <div class="section__content">
      <div class="filters">
        <div class="filters-track">
          <div class="filters-container">
            <div class="filter">
              <button class="btn btn-gray is-checked" data-filter="*">All Skills</button>
            </div>
            {% for filter in filters %}
              {% if filter.slug != 'uncategorized' %}
                <div class="filter">
                  <button class="btn btn-gray" data-filter=".{{ filter.slug }}">{{ filter.name }}</button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% set threshold = 10 %}
      <div class="grid boxes" data-threshold="{{threshold}}">
        {% for box in data.grid.boxes %}
          {% if loop.index <= threshold %}
            {% include 'widget.box.twig' with {'box': box} %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="boxes more-boxes">
        {% for box in data.grid.boxes %}
          {% if loop.index > threshold %}
            {% include 'widget.box.twig' with {'box': box} %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="load-more"></div>
    </div>
  </div>
</section>