{% if box.size == "small" %}
  <div class="box --{{box.size}} --mobile {{ box.skill.slug }}">
    <div class="box-front">
      <div class="box-header" style="background-color: {{box.color1}};">
        <div class="logo">
          <img
            src="{{ TimberImage(box.logo) }}"
            alt="{{ box.logo.alt }}"
          />
        </div>
        <div class="title">
          {{ box.title }}
        </div>
      </div>
      <div class="box-content" style="background-color: {{ box.color2 }};">
        {# <div class="show-more">
          <button type="button" class="btn btn-link box-button">SHOW MORE</button>
        </div> #}
      </div>
    </div>
    <div class="box-back">
      <div class="box-header" Style="background-color: {{ box.color1 }};">
        <div class="title">
          {{ box.title }}
        </div>
        <div class="text">
          <p> {{ box.text}} </p>
        </div>
      </div>
      <div class="box-content" style="background-color: {{ box.color2 }};">
        <div class="show-less">
          <button type="button" class="btn btn-link box-button">SHOW LESS</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box --{{box.size}} --desktop {{ box.skill.slug }}">
    <div class="box-header" Style="background-color:{{ box.color1 }}">
      <div class="skill-name">
        <span class="skill-name-label">
          {{ box.skill.name }}
        </span>
      </div>
      <div class="logo">
        <img
          src="{{ TimberImage(box.logo) }}"
          alt="{{ box.logo.alt }}"
        />
      </div>
    </div>
    <div class="box-content" style="background-color: {{ box.color2 }};">
      <div class="title">
        {{ box.title }}
      </div>
      <div class="text">
        <p>{{ box.text }}</p>
      </div>
    </div> 
  </div>
{% else %} {# big #}
  <div class="box --{{box.size}} --mobile {{ box.skill.slug }}">
    <div class="box-front">
      <div class="box-header" style="background-color: {{ box.color2 }}; height: 132px;">
        {# <div class="carousel --gallery" data-config="gallery">
          {% for slide in box.image_carousel %}
            <img 
              src="{{ TimberImage(slide) }}"
              width="{{ slide.width }}"
              height="{{ slide.height }}"
              alt="{{ slide.alt }}"
            />
          {% endfor %}
        </div>  #}
        <div class="logo">
          <img
            src="{{ TimberImage(box.logo) }}"
            alt="{{ box.logo.alt }}"
          />
        </div>
      </div>
      <div class="box-content" style="background-color: {{ box.color1 }};">
        <div class="title">
          {{ box.title }}
        </div>
        {# <div class="show-more">
          <button type="button" class="btn btn-link box-button box-button" style="background-color: {{ box.color2 }};">SHOW MORE</button>
        </div> #}
      </div>
    </div>
    <div class="box-back ">
      <div class="box-header" style="background-color: {{ box.color1 }};">
        <div class="title">
          {{ box.title }}
        </div>
        <div class="text">
          <p>
            {{ box.text }}
          </p>
        </div>
      </div>
      <div class="box-content">
        {% if box.clients %}
          <div class="clients">
            <div class="label">
              Clients
            </div>
            <div class="items">
              <p>
                {{ box.clients }}
              </p>
            </div>
          </div>
        {% endif %}
        {% if box.certificates %}
          <div class="certificates">
            <div class="label">
              Certificates
            </div>
            <div class="items">
              {% for certificate in box.certificates %}
                <div class="certificate">
                  <img 
                    srcset="{{ TimberImage(certificate)|resize(certificate.width / 3, certificate.height / 3) }} 1x, {{ TimberImage(certificate)|resize(certificate.width / 2, certificate.height / 2) }} 2x, {{ TimberImage(certificate) }} 3x"
                    src="{{ TimberImage(certificate) }}"
                    width="{{ certificate.width / 3 }}"
                    height="{{ certificate.height / 3 }}"
                    alt="{{ certificate.alt }}"
                  />
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="show-less">
          <button type="button" class="btn btn-link box-button" style="color: {{ box.color1 }};">SHOW LESS</button>
        </div>
      </div>
    </div>
  </div>
  <div class="box --{{box.size}} --desktop {{ box.skill.slug }}">
    <div class="box-front">
      <div class="box-header" style="background-color: {{ box.color2 }};">
        {# <div class="carousel --gallery" data-config="gallery">
          {% for slide in box.image_carousel %}
            <img 
              src="{{ TimberImage(slide) }}"
              width="{{ slide.width }}"
              height="{{ slide.height }}"
              alt="{{ slide.alt }}"
            />
          {% endfor %}
        </div>  #}
        <div class="skill-name">
          <span class="skill-name-label">
            {{ box.skill.name }}
          </span>
        </div>
        {% if box.showcase %}
          <div class="view-showcase">
            <a href="{{box.showcase}}">
              <span>
                <img 
                  src="/wp-content/themes/litmus7/static/img/skills/arrow.svg" 
                  width="27" 
                  height="12" 
                  alt="View Showcase"
                />
              </span>
              <span>View Showcase</span>
            </a>
          </div>
        {% endif %}
        <div class="logo">
          <img
            src="{{ TimberImage(box.logo) }}"
            alt="{{ box.logo.alt }}"
          />
        </div>
      </div>
      <div class="box-content" style="background-color: {{ box.color1 }}">
        <div class="title">
          {{ box.title }}
        </div>
        <div class="text">
          <p>
            {{ box.text }}
          </p>
        </div>
        {# <div class="show-more">
          <button type="button" class="btn btn-link box-button">SHOW MORE</button>
        </div> #}
      </div>
    </div>
    <div class="box-back ">
      <div class="box-header" style="background-color: {{box.color1}};"> 
        <div class="skill-name">
          <span class="skill-name-label">
            {{ box.skill.name }}
        </div>
        <div class="title">
          {{ box.title }}
        </div>
        <div class="text">
          <p>
            {{ box.text }}
          </p>
        </div>
      </div>
      <div class="box-content">
        {% if box.clients %}
          <div class="clients">
            <div class="label">
              Clients
            </div>
            <div class="items">
              <p>
                {{ box.clients }}
              </p>
            </div>
          </div>
        {% endif %}
        {% if box.certificates %}
          <div class="certificates">
            <div class="label">
              Certificates
            </div>
            <div class="items">
              {% for certificate in box.certificates %}
                <div class="certificate">
                  <img 
                    srcset="{{ TimberImage(certificate)|resize(certificate.width / 3, certificate.height / 3) }} 1x, {{ TimberImage(certificate)|resize(certificate.width / 2, certificate.height / 2) }} 2x, {{ TimberImage(certificate) }} 3x"
                    src="{{ TimberImage(certificate) }}"
                    width="{{ certificate.width / 3 }}"
                    height="{{ certificate.height / 3 }}"
                    alt="{{ certificate.alt }}"
                  />
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        <div class="show-less">
          <button type="button" class="btn btn-link box-button" style="color: {{ box.color1}};">SHOW LESS</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}