<section class="section --case-studies">
  <div class="container">
    <div class="section__content">
      <div class="filters">
        <div class="filters-track">
          <div class="filters-container">
            <div class="filter">
              <button class="btn btn-gray is-checked" data-filter="*">All Case Studies</button>
            </div>
            {% for filter in filters %}
              {% if filter.slug != 'uncategorized' %}
                <div class="filter">
                  <button class="btn btn-gray" data-filter=".{{ filter.slug }}">{{ filter.name }}</button>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      {% set threshold = 5 %}
      <div class="case-studies items" data-threshold="{{threshold}}">
        {% for page_case_study in posts %}
          {% set cat = page_case_study.terms %}
          {% for section in page_case_study.get_field('sections') %}
            {% if section.acf_fc_layout == 'case_study' %}
              {% if loop.index <= threshold %}
                <div class="item {% if loop.index > threshold %}--not-loaded{% endif %} animated2 {{cat[0].slug}}" data-category="{{cat[0].slug}}" data-animation="fadeIn" style="{% if section.background_mobile %} background-image: url({{ section.background_mobile.url }});{% endif %} background-color:{{ section.background_color }}">
                  <div class="title">
                    {{ page_case_study.title }}
                  </div>
                  <div class="button">
                    <a 
                      href="{{page_case_study.link}}" 
                      class="btn btn-white btn-sm"
                    >
                      View case study
                    </a>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
      <div class="more-items">
        {% for item in data.grid.items %}
          {% if loop.index > threshold %}
            {% set cat = function('get_the_category', case_study.ID) %}
            <div class="hide-on-desktop">
              <div class="item {% if loop.index > threshold %}--not-loaded{% endif %} animated2 {{cat[0].slug}}" data-category="{{cat[0].slug}}" data-animation="fadeIn" style="{% if section.background_mobile %} background-image: url({{ section.background_mobile.url }});{% endif %} background-color:{{ section.background_color }}">
                <div class="title">
                  {{ page_case_study.title }}
                </div>
                <div class="button">
                  <a 
                    href="{{page_case_study.link}}" 
                    class="btn btn-white btn-sm"
                  >
                    View case study
                  </a>
                </div>
              </div>
            </div>
            <div class="hide-on-mobile">
              <div class="item {% if loop.index > threshold %}--not-loaded{% endif %} animated2" data-animation="fadeIn" style="{% if section.background %} background-image: url({{ section.background.url }});{% endif %} background-color:{{ section.background_color }}">
                <div class="title">
                  {{ page_case_study.title }}
                </div>
                <div class="button">
                  <a 
                    href="{{page_case_study.link}}" 
                    class="btn btn-white btn-sm"
                  >
                    View case study
                  </a>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="load-more"></div>
    </div>
  </div>
</section>