<section class="section --branches">
  <div class="container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="animated2" data-animation="fadeIn">
          {{ data.section_title }}
        </h2>
      </div>
    </div>
    <div class="section__content">
      <div class="branches">
        {% for branch in data.branches %}
          <a href="{{ branch.link }}" target="_blank" rel="noopener noreferrer">
            <div class="branch branch--{{ loop.index }} animated2" data-animation="fadeIn" style="background-image: url({{ branch.background.url }})">
              <div class="marker">
                <img 
                  src="/wp-content/themes/litmus7/static/img/team/marker.png" 
                  width="30" 
                  height="30" 
                  alt=""
                />
              </div>
              <div class="title">
                {{ branch.title }}
              </div>
              <div class="tagline">
                {{ branch.text }}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>