<section class="section --case-study">
  <div class="container">
    <div class="section__content hide-on-desktop animated2" data-animation="fadeIn" style="{% if section.background_mobile %}background-image: url({{ data.background_mobile.url }});{% endif %} background-color:{{ section.background_color}}">
      <div class="section__title">
        <h2>
          {{ data.title }}
        </h2>
      </div>
      {% if data.description %}
        <div class="section__text">
          <span>Case study description:</span>
          <br/>
          {{ data.description }}
        </div>
      {% endif %}
      <div class="info">
        {% for info in data.info %}
          <div class="info-item info-item-{{ loop.index }}">
            <div class="value">
              {{ info.value }}
            </div>
            <div class="key">
              {{ info.key }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="section__content hide-on-mobile animated2" data-animation="fadeIn" style="{% if section.background %}background-image: url({{ data.background.url }});{% endif %} background-color:{{ section.background_color}}">
      <div class="section__title">
        <h2>
          {{ data.title }}
        </h2>
      </div>
      {% if data.description %}
        <div class="section__text">
          <span>Case study description:</span>
          <br/>
          {{ data.description }}
        </div>
      {% endif %}
      <div class="info">
        {% for info in data.info %}
          <div class="info-item info-item-{{ loop.index }}">
            <div class="value">
              {{ info.value }}
            </div>
            <div class="key">
              {{ info.key }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>