{% set all_positions = positions %}
{% if data.positions %}
  {% set all_positions = all_positions|merge(data.positions) %}
{% endif %}
<div id="open-positions" class="anchor"></div>
<section class="section --open-positions">
  <div class="container">
    <div class="section__header">
      <div class="section__title">
        <h2 class="animated2" data-animation="fadeIn">
          {{ data.section_title }}
        </h2>
      </div>
    </div>
    <div class="section__content">
      <div class="filters">
        <div class="locations-filter">
          <div class="dropdown">
            <select class="locations-dropdown">
              <option value="">All Locations</option>
            </select>
          </div>
        </div>
      </div>
      <div class="vertical-tabs-container">
        <div class="vertical-tabs">
          {% for position in all_positions %}
            {% set slug = position.position|lower|replace({" ": "-", "/": "-", "(": "", ")": "", "|": ""})|replace({"--": "-"}) %}
            <a href="#{{ slug }}" class="js-vertical-tab vertical-tab position {% if loop.first %}is-active{% endif %} {% if loop.index > 5 %}--not-loaded{% endif %}" rel="tab-{{ loop.index }}" data-location="{{ position.location }}" data-id="{{ position.id }}">
              <h3>
                {{ position.position }}
              </h3>
              <p>
                {{ position.location }}
              </p>
              <div class="apply">
                Apply
              </div>
            </a>
          {% endfor %}
        </div>

        <div class="vertical-tab-content-container">
          {% for position in all_positions %}
            {% set slug = position.position|lower|replace({" ": "-", "/": "-", "(": "", ")": "", "|": ""})|replace({"--": "-"}) %}
            <div class="vertical-tab-content-wrapper" data-location="{{ position.location }}" data-id="{{ position.id }}">
              <a href="#tab-{{ loop.index }}" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading --no-scroll {% if loop.first %}is-active{% endif %}" rel="tab-{{ loop.index }}" data-location="{{ position.location }}" data-id="{{ position.id }}">
                <h3>
                  {{ position.position }}
                </h3>
                <p>
                  {{ position.location }}
                </p>
                <div class="apply">
                  {% if loop.first %}
                    Close
                  {% else %}
                    View Job Description
                  {% endif %}
                </div>
              </a>
              <div id="tab-{{ loop.index }}" class="js-vertical-tab-content vertical-tab-content" data-location="{{ position.location }}" data-id="{{ position.id }}">
                <h3>
                  Job Description
                </h3>
                <div class="description">
                  {{ position.description }}
                </div>
                <div class="button">
                  <a href="#apply"
                    class="btn btn-primary btn-lg open-popup"
                    data-id="{{ position.id }}"
                    data-position="{{ position.position }}"
                    data-location="{{ position.location }}"
                  >
                    Apply Now
                  </a>
                </div>
                <div class="social-media">
                  <div class="share">
                    Share
                  </div>
                  <div class="social-icons">
                    <ul class="share-buttons">
                      <li>
                        <a 
                          href="https://www.facebook.com/sharer/sharer.php?u={{ function('the_permalink') }}?position={{slug}}&quote={{ position.position|replace({"|": "/"}) }}" 
                          title="Share on Facebook" 
                          target="_blank"
                        >
                          <img 
                            alt="Share on Facebook" 
                            src="/wp-content/themes/litmus7/static/img/facebook-green.svg" 
                          />
                        </a>
                      </li>
                      <li>
                        <a 
                          href="https://twitter.com/intent/tweet?source={{ function('the_permalink') }}?position={{slug}}&text={{ position.position|replace({"|": "/"}) }}" 
                          target="_blank" 
                          title="Tweet"
                        >
                          <img 
                            alt="Tweet" 
                            src="/wp-content/themes/litmus7/static/img/twitter-green.svg"
                          />
                        </a>
                      </li>
                      <li>
                        <a 
                          href="http://www.linkedin.com/shareArticle?mini=true&url={{ function('the_permalink') }}?position={{slug}}&title={{ position.position|replace({"|": "/"}) }} - Join Litmus7 -  We're hiring!&summary=Litmus7 is looking for {{ position.position|replace({"|": "/"}) }} to join our team.  We Are Artists, Leaders and Problem Solvers. Let's disrupt eCommerce together.&source={{ function('the_permalink') }}" 
                          target="_blank" 
                          title="Share on LinkedIn"
                        >
                          <img 
                            alt="Share on LinkedIn" 
                            src="/wp-content/themes/litmus7/static/img/linkedin-green.svg" 
                          />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="load-more"></div>
    </div>
  </div>
</section>

<div id="apply" class="mfp-hide  popup">
  <div class="popup-content">
    <div class="title">
        APPLY NOW
    </div>

    <div class="position">
      <h3 id="position">
      </h3>
    </div>

    <div id="location" class="location">
    </div>

    <div class="apply-form">
      <div class="form">
        <div class="basic-info">
          <form id="apply-form"
            method="POST"
            action="https://hooks.zapier.com/hooks/catch/3205781/w9oq90/"
          >
            <input type="hidden" id="input-id" name="id" value="" />
            <input type="hidden" id="input-position" name="position" value="" />
            <input type="hidden" id="input-location" name="location" value="" />
            <input type="hidden" id="input-environment" name="environment" value="" />
            <input type="hidden" id="uploaded_files" name="uploaded_files" />
            <input type="hidden" id="uploaded_folder_link" name="uploaded_folder_link" />

            <div class="input first-name">
              <label for="first-name">
                First Name
              </label>
              <input 
                type="text" 
                id="first-name" 
                name="first-name" 
                placeholder="First Name" 
                autocomplete="given-name-national"
                required
              />
            </div>
            <div class="input last-name">
              <label for="last-name">
                Last Name
              </label>
              <input 
                type="text" 
                id="last-name" 
                name="last-name" 
                placeholder="Last Name" 
                autocomplete="family-name-national"
                required
              />
            </div>
            <div class="input email">
              <label for="email">
                Email
              </label>
              <input 
                type="text" 
                id="email" 
                name="email" 
                placeholder="Email" 
                autocomplete="email-national"
                required
              />
            </div>
            <div class="input phone">
              <label for="phone">
                Phone
              </label>
              <input
                type="text" 
                id="phone" 
                name="phone" 
                placeholder="Phone" 
                autocomplete="tel-national"
                required
              />
            </div>
            <div class="input info">
              <label for="info">
                What should we know about you?
              </label>
              <textarea 
                type="text" 
                id="info" 
                name="info" 
                placeholder="Type in some info about your skills, expertise, years of experience in your ﬁeld etc."
                required
              ></textarea>
            </div>
            <div class="resume">
              <label>
                Upload Resume
              </label>
              <input 
                type="file" 
                id="upload"
                name="upload" 
                class="driveuploader-replace"
              />
            </div>
            <div class="button">
              <button 
                type="submit" 
                id="submit"
                class="btn btn-primary btn-md"
              >
                SUBMIT APPLICATION
              </button>
            </div>
          </form>
        </div>

        <div class="equal-opportunity">
          <div class="title">
            <span class="plus">+</span>
            <span class="minus">-</span>
            Equal Opportunity - Statement
          </div>
          <div class="text">
            Individuals seeking employment at Litmus7 are considered without regards to race, color, religion, national origin, age, sex, marital status,
            ancestry, physical or mental disability, veteran status, gender identity, sexual orientation, or any other category protected by law. You are
            being given the opportunity to provide the following information in order to help us comply with federal and state Equal Employment
            Opportunity/Afﬁrmative Action record keeping, reporting, and other legal requirements.Completion of the form is entirely voluntary.
            Whatever your decision, it will not be considered in the hiring process or thereafter. Any information that you do provide will be recorded
          </div>
        </div>
      </div>

      <div class="form-sent">
        <div class="image">
          <img 
            src="/wp-content/themes/litmus7/static/img/contact/sent.svg" 
            width="94" 
            height="80" 
            alt="Thank You"
          />
        </div>
        <div class="title">
          Thank You
        </div>
        <div class="text">
          <p>
            Your application has been successfully sent.
          </p>
          <p>
            If it’s a match, we will get back to you as soon as we can.
          </p>
        </div>
      </div>
      
      <div class="form-error">
        <div class="text">
          <p>
            Your message couldn't be delivered, please try again later.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  {# var sendbtn = document.getElementById('sendbtn'); #}
  function driveUploaderCallback(status, result) {
    if (status == 'start') {
      // Do nothing
    } else if (status == 'done') {
      document.getElementById('uploaded_files').value = result.files[0].link;
      document.getElementById('uploaded_folder_link').value = result.folder.link;
    }
  }
</script>
<script src="https://driveuploader.com/upload/RrRNoVTxHE/embed.js"></script>