//Footer
footer {
  .footer-menu {
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 32px;
    padding-left: 20px;
    background-color: $gray-30;
    user-select: none;

    @include grid-media($desktop-up) { 
      text-align: center;
    }

    ul {
      li {
        display: inline-block;
        margin-right: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0;

        @include grid-media($desktop-up) { 
          margin-right: 30px;
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 30px;
        }

        a {
          @include fs2;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1;
          letter-spacing: 0.9px;
          color: $gray-80;

          &:hover {
            opacity: 0.75;
          }
        }
      }
    }
  }

  .footer {
    background-color: #f9f9f9;
    padding-top: 32px;
    padding-right: 20px;
    padding-bottom: 32px;
    padding-left: 20px;
    
    .container {
      @include grid-media($desktop-up) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .footer-all-rights-reserved {
      display: flex;
      align-items: center;
      margin-bottom: 40px;

      @include grid-media($desktop-up) {
        @include grid-column(7);
        margin-bottom: 0;
      }

      img, p {
        display: inline-block;
        
        @include grid-media($desktop-up) {
          
        }
      }

      .logo {
        margin-right: 20px;
        font-size: 0;
      }

      .copyright {
        p {
          @include fs3;
          font-weight: 300;
          line-height: 1.5;
          letter-spacing: 0.3px;
          margin-bottom: 0;
        }
      }
    }

    .footer-social-media {
      font-size: 0;
      
      @include grid-media($desktop-up) {
        @include grid-column(5);
        text-align: right;
      }

      ul {
        li {
          display: inline-block;
          margin-right: 30px;

          @include grid-media($desktop-up) {
            margin-right: 0;
            margin-left: 15px;
          }

          a {
            transition: opacity $base-duration $base-timing;

            &:hover {
              opacity: 0.75;
            }
          }
        }
      }
    }
  }
}