//Header

header {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $white;
  z-index: 99998;
  user-select: none;

  @include grid-media($desktop-up) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .header {
    position: relative;

    @include grid-media($desktop-up) {
      display: flex;
      align-items: center;
    }

    .banner {
      position: fixed;
      top: 0;
      left: 0;

      img {
        width: 62px;
        height: 104px;

        @include grid-media($desktop-up) {
          width: 100px;
          height: 170px;
        }
      }
    }

    .header-logo {
      text-align: center;
      font-size: 0;

      @include grid-media($desktop-up) {
        text-align: right;
        @include grid-column(3);
      }

      img {
        @include grid-media($desktop-up) {
          width: 189px;
          height: 32px;
        }
      }
    }

    .header-menu {
      @include grid-media($desktop-up) {
        @include grid-column(9);
      }

      .mobile-menu-button {
        position: absolute;
        top: 0;
        right: 20px;
        z-index: 100000;
        cursor: pointer;
  
        @include grid-media($desktop-up) {
          display: none;
        }
  
        .line {
          display: block;
          width: 30px;
          height: 2px;
          background: #1c1c1c;
          border-radius: 5px;
          transition: transform $base-duration $base-timing;
          
          &.line-1 {
            margin-bottom: 7px;
          }
  
          &.line-2 {
            margin-bottom: 7px;
          }
        }
      }

      nav {
        position: fixed;
        opacity: 0;
        z-index: 99998;
        transform: translateY(-100%);
        top: 0;

        @include grid-media($desktop-up) {
          position: static;
          opacity: 1;
          z-index: 99999;
          margin-bottom: 0;
          text-align: right;
          transform: none;
          top: auto;
        }

        li {
          @include grid-media($desktop-up) {
            display: inline-block;
            @include fs2;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 40px;  
          }

          a {
            color: $gray-80;
            transition: color $base-duration $base-timing;

            &:hover {
              color: $action-color;
            }

            &.current-menu-item {
              color: $action-color;
            }
  
          }

          a.btn {
            color: $action-color;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }

    .header-menu.--open {
      @include grid-media($desktop-down) {
          nav {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: $action-color;
            opacity: 1;
            z-index: 99999;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            transform: none;
    
            li {
              font-size: $base-font-size-desktop;
              text-transform: uppercase;
              margin-top: 25px;
              margin-bottom: 25px;
    
              a {
                color: $white;
              }
    
              a.btn {
                border-radius: 0;
                background-color: transparent;
                font-size: 22px;
                font-weight: 500;
                line-height: 1.75;
                padding: 0;
              }
            }
          }
    
          .line {        
            &.line-1 {
              transform: translateY(6px) rotate(-45deg);
              background-color: $white;
            }
    
            &.line-2 {
              background-color: $action-color;
            }
    
            &.line-3 {
              transform: translateY(-12px) rotate(45deg);
              background-color: $white;
            }
          }
      }
    }
  }
}

.header-pusher {
  height: 60px;

  @include grid-media($desktop-up) {
    height: 100px;
  }
}

.anchor {
  position: relative;
  top: -60px;

  @include grid-media($desktop-up) {
    top: -100px;
  }
}