$_button-background-color: $white;
$_button-background-color-hover: $action-color;

#{$all-buttons}, a.btn {
  appearance: none;
  background-color: $_button-background-color;
  border-width: 1px;
  border-style: solid;
  border-radius: $base-border-radius * 15;
  color: contrast-switch($_button-background-color);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing, color $base-duration $base-timing, border $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 1.75em;
  padding-right: 1.75em;

  @include grid-media($desktop-up) {
    border-width: 2px;
  }

  &:hover {
    background-color: $_button-background-color-hover;
    color: contrast-switch($_button-background-color-hover);
  }

  &:focus {
    outline: 0;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $_button-background-color;
    }
  }
}


.btn.btn-primary,
a.btn.btn-primary {
  background-color: $white;
  color: $action-color;
  border-color: $action-color;

  &:active,
  &:hover,
  &:focus {
    color: $white;
    background-color: $action-color;
  }
}

.btn.btn-primary-inverted,
a.btn.btn-primary-inverted {
  background-color: $action-color;
  color: $white;
  border-color: $action-color;

  &:active,
  &:hover,
  &:focus {
    color: $action-color;
    background-color: $white;
  }
}

.btn.btn-dark-green,
a.btn.btn-dark-green {
  background-color: $green-10;
  color: $white;
  border-color: $green-10;

  &:active,
  &:hover,
  &:focus {
    color: $green-10;
    background-color: $white;
  }
}

.btn.btn-gray,
a.btn.btn-gray {
  background-color: $white;
  color: $gray-50;
  border-color: $gray-50;
  padding: $small-spacing $base-spacing * 2;
  height: 32px;
  font-size: 13px;

  &:hover,
  &:focus {
    color: $action-color;
    border-color: $action-color;
  }

  &:active {
    color: $white;
    border-color: $action-color;
    background-color: $action-color;
  }
}

.btn.btn-white,
a.btn.btn-white {
  background-color: transparent;
  color: $white;
  border-color: $white;

  &:active,
  &:hover,
  &:focus {
    color: #000000;
    background-color: $white;
  }
}

.btn.btn-link,
a.btn.btn-link {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  color: $white;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 0;

  @include grid-media($desktop-up) {
    font-size: 14px;
    font-weight: 600;
  }
}

.btn.btn-sm,
a.btn.btn-sm {
  font-size: 14px;
  // height: 40px;
}

.btn.btn-lg, 
a.btn.btn-lg {
  font-size: 22px;
  // height: 60px;
}