$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$tablet-up: (
  columns: 6,
  gutter: 20px,
  media: "(min-width: 768px)",
);

$desktop-up: (
  columns: 12,
  gutter: 20px,
  media: "(min-width: 1180px)",
);

$mobile-down: (
  columns: 6,
  gutter: 20px,
  media: "(max-width: 459px)",
);

$tablet-down: (
  columns: 6,
  gutter: 20px,
  media: "(max-width: 767px)",
);

$desktop-down: (
  columns: 12,
  gutter: 20px,
  media: "(max-width: 1179px)",
);
