@mixin mh-fs {
  font-size: $main-heading;
  @include grid-media($desktop-up) {
    font-size: $main-heading-desktop;
  }
}

@mixin h-fs {
  font-size: $heading;
  @include grid-media($desktop-up) { 
    font-size: $heading-desktop;
  }
}

@mixin sh-fs {
  font-size: $sub-heading;
  @include grid-media($desktop-up) {
    font-size: $sub-heading-desktop;
  }
}

@mixin b-fs {
  font-size: $font-size-3;
  @include grid-media($desktop-up) { 
    font-size: $base-font-size-desktop;
  }
}

@mixin fs0 {
  font-size: $font-size-0;
  @include grid-media($desktop-up) { 
    font-size: $font-size-0;
  }
}

@mixin fs1 {
  font-size: $font-size-1;
  @include grid-media($desktop-up) { 
    font-size: $font-size-1;
  }
}

@mixin fs1s {
  font-size: $font-size-1s;
  @include grid-media($desktop-up) { 
    font-size: $font-size-1s;
  }
}

@mixin fs2 {
  font-size: $font-size-2;
  @include grid-media($desktop-up) { 
    font-size: $font-size-2;
  }
}

@mixin fs3 {
  font-size: $font-size-3;
  @include grid-media($desktop-up) { 
    font-size: $font-size-3;
  }
}

@mixin fs4 {
  font-size: $font-size-1;
  @include grid-media($desktop-up) { 
    font-size: $font-size-4;
  }
}

@mixin fs5 {
  font-size: $font-size-5;
  @include grid-media($desktop-up) { 
    font-size: $font-size-5;
  }
}

html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 100%;
  line-height: $base-line-height;
}

body { 
  @include b-fs;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  //font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
}

h1 {
  @include mh-fs;
  font-weight: 900;
}

h2 {
  @include h-fs;
  font-weight: 900;
}

p {
  margin: 0 0 5 * $small-spacing;
}

blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

a {
  color: $action-color;
  text-decoration-skip: ink;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  word-break: break-all;
  cursor: pointer;

  &:hover {
    color: shade($action-color, 25%);
  }

  &:focus {
    //outline: $focus-outline;
    //outline-offset: $focus-outline-offset;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
