// Typography
$base-font-family: "Montserrat", $font-stack-system;
$heading-font-family: "Playfair Display", $base-font-family;

//font-size
$main-heading: 40px;
$main-heading-desktop: 70px;
$heading: 30px;
$heading-desktop: 55px;
$sub-heading: 24px;
$sub-heading-desktop: 40px;
$base-font-size-desktop: 22px;
$font-size-0: 8px;
$font-size-1s: 10px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 18px;
$font-size-5: 30px;

// Line height
$base-line-height: 1.75;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: 10px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #22bca8;
$green-10:#017969;
$gray-10: #f7f7f7;
$gray-20: #e0e0e0;
$gray-30: #eaeaea;
$gray-50: #979797;
$gray-80: #1c1c1c;
$white: #ffffff;
$red: #e8443c;

// Font Colors
$base-font-color: $gray-80;
$heading-font-color: $gray-80;
$action-color: $green;
$error: $red;

// Border
$base-border-color: $gray-20;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
