@include jacket(non-critical) {
  .section.--branches {
    .section__header {
      .section__title {
        text-align: center;
  
        h2 {
          margin-bottom: 20px;
  
          @include grid-media($desktop-up) {
            margin-bottom: 100px;
          }
        }
      }
    }
  
    .section__content {
      @include b-fs;
  
      .branches {
        @include grid-media($desktop-up) {
          @include grid-container;
          @include grid-collapse;
          margin-top: -20px;
        }
  
        .branch {
          border-radius: $base-border-radius * 2;
          background-color: rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          margin-top: 20px;
          margin-left: auto;
          margin-right: auto;
          background-size: cover;
          background-position: center;
          height: 100px;
          padding-top: 27px;
          position: relative;
  
          @include grid-media($desktop-up) {
            @include grid-column(3);
            padding-top: 0;
            height: 280px;
          }
  
          &:before {
            content: "";
            display: block;
            border-radius: $base-border-radius * 2;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
  
          .marker {
            display: none;
            z-index: 2;
  
            @include grid-media($desktop-up) {
              position: absolute;
              top: 60px;
              left: 50%;
              transform: translateX(-50%);
              transition: opacity 150ms ease;
              opacity: 0;
              display: block;
            }
          }
  
          .title {
            @include b-fs;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 1px;
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            width: 100%;
            position: relative;
            z-index: 2;
  
            @include grid-media($desktop-up) {
              position: absolute;
              top: 50%;
              left: 50%;
              transition: top $base-duration $base-timing;
              transform: translateX(-50%) translateY(-50%);
            }
          }
  
          .tagline {
            @include fs3;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 0.3px;
            text-align: center;
            color: #ffffff;
            margin-top: 15px;
            position: relative;
            z-index: 2;
  
            @include grid-media($desktop-up) {
              margin-top: 0;
              position: absolute;
              top: calc(50% + 15px);
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              transition: opacity $base-duration $base-timing;
              opacity: 0;
              width: 100%;
            }
          }
        }
  
        .branch:hover {
          .title {
            @include grid-media($desktop-up) {
              top: calc(50% - 15px);
            }
          }
  
          .tagline, .marker {
            @include grid-media($desktop-up) {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}