@include jacket(non-critical) {
  .section.--call-to-action {
    .container {
      @include grid-media($desktop-up) {
        display: flex;
        align-items: center;
      }
    }
  
    .section__header {
      text-align: center;
  
      @include grid-media($desktop-up) {
        @include grid-column(7);
        text-align: left;
      }
    }
  
    .section__content {
      text-align: center;
      
      @include grid-media($desktop-up) {
        @include grid-column(5);
      }
    }
  }
}