@include jacket(non-critical) {
  .slick-slider {
    @include grid-media($desktop-up) {
      margin-left: -20px;
      margin-right: -20px;
    }
  
    .slick-track {
      padding-bottom: 10px;
    }
  
    .slick-slide {
      outline: 0;
  
      @include grid-media($tablet-up) {
        margin-left: 10px;
        margin-right: 10px;
      }
  
      @include grid-media($desktop-up) {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  
    .slick-dots {
      bottom: -35px;
  
      li {
        button {
          background-color: $action-color;
          opacity: 0.5;
          box-shadow: none;
          width: 9px;
          height: 9px;
          margin-left: 8px;
          margin-right: 8px;
        }
  
        button:before {
          display: none;
        }
  
        button:hover {
          background-color: $action-color;
          box-shadow: none;
          opacity: 1;
          width: 11px;
          height: 11px;
        }
  
        &.slick-active button {
          background-color: $action-color;
          box-shadow: none;
          opacity: 1;
          width: 11px;
          height: 11px;
        }
      }
    }
  }
  
  .carousel.--mobile {
    .slick-slide {
      transform: scale(0.9);
      transition: transform $base-duration $base-timing;
      transform-origin: 50% 35%;
  
      @include grid-media($tablet-up) {
        transform: scale(1);
      }
    }
  
    .slick-active {
      transform: scale(1);
  
      @include grid-media($tablet-up) {
        transform: scale(1);
      }
    }
  }
  
  .carousel.--default {
    .slick-slide {
      transition: opacity $base-duration $base-timing;
      opacity: 0.25;
    }
  
    .slick-active {
      opacity: 1;
    }
  }
  
  .carousel.--gallery {
    &.slick-slider {
      margin-bottom: 0 !important;
  
      .slick-list {
        border-top-left-radius: $base-border-radius * 4;
        border-top-right-radius: $base-border-radius * 4;
      }
      
      .slick-track {
        padding-bottom: 0 !important;
      }
  
      .slick-slide {
        @include grid-media($tablet-up) {
          margin-left: 0;
          margin-right: 0;
        }
    
        @include grid-media($desktop-up) {
          margin-left: 0;
          margin-right: 0;
        }
  
        img {
          border-top-left-radius: $base-border-radius * 4;
          border-top-right-radius: $base-border-radius * 4;
        }
      }
  
      .slick-slide:before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(29,29,29,.7);
        border-top-left-radius: $base-border-radius * 4;
        border-top-right-radius: $base-border-radius * 4;
      }
    
      .slick-dots {
        bottom: 10px;
  
        @include grid-media($desktop-up) {
          bottom: 25px;
        }
  
        li {
          margin: 0;
  
          button {
            background-color: $white;
            width: 6px;
            height: 6px;
            margin-left: 4px;
            margin-right: 4px;
            transform: scale(0.85);
  
            @include grid-media($desktop-up) {
              width: 11px;
              height: 11px;
              margin-left: 8px;
              margin-right: 8px;
            }
          }
    
          button:hover {
            transform: scale(1);
          }
    
          &.slick-active button {
            background-color: $white;
            transform: scale(1);
          }
        }
      }
    }
  }
}