@include jacket(non-critical) {
  .section.--cards {
    .section__header {
      @include grid-media($desktop-up) {
        @include grid-column(12);
      }
  
      .section__title {
        text-align: center;
        
        h2 {
          margin-bottom: 20px;
  
          @include grid-media($desktop-up) {
            margin-bottom: 60px;
          }
        }
      }
    }
  
    .section__content {
      @include grid-media($desktop-up) {
        @include grid-column(12);
        margin-right: 0;
      }  

      .cards {
        @include grid-media($desktop-up) {
          @include grid-container;
          @include grid-collapse;
          margin-top: -20px;
        }
      }
  
      .card {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        border-radius: $base-border-radius * 4;
        @include fs3;
        line-height: 1;
        text-align: center;
        padding-top: 40px;
        margin-top: 20px;
  
        @include grid-media($desktop-up) {
          @include grid-column(4);
        }
        
        .image {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80px;
          
          @include grid-media($desktop-up) {
            height: auto;
            min-height: 110px;
          }
          
          img {
            max-height: 80px; 
  
            @include grid-media($desktop-up) {
              max-height: none;
            }
          }
        }
        
        .title {
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase;
          color: $action-color;
          margin-top: 40px;
          padding-right: 40px;
          padding-bottom: 20px;
          padding-left: 40px;
        }
  
        .text {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.5;
          padding-right: 20px;
          padding-bottom: 30px;
          padding-left: 20px;
  
          @include grid-media($desktop-up) {
            padding-right: 40px;
            padding-left: 40px;
          }
  
          p {
            margin-bottom: 0;
            height: 72px;
          }
        }
  
        .highlight-text {
          font-size: 22px;
          font-weight: 700;
          padding-right: 40px;
          padding-bottom: 40px;
          padding-left: 40px;
  
          p {
            margin: 0;
          }
        }
  
        .highlight-text a {
          color: $gray-80;
        }
      }
    }
  }
}