@include jacket(non-critical) {
  .section.--case-studies {
    padding-top: 0;

    .section__content {
      @include b-fs;
  
      .filters {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 100%;
          top: -5px;
          left: -20px;
          z-index: 1;
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

          @include grid-media($desktop-up) {
            display: none;
          }
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 100%;
          top: -5px;
          right: -20px;
          z-index: 1;
          background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

          @include grid-media($desktop-up) {
            display: none;
          }
        }

        .filters-track {
          margin-bottom: 30px;
          margin-left: -20px;
          margin-right: -20px;
          padding-bottom: 10px;
          padding-left: 20px;
          padding-right: 20px;
          overflow: auto;
          position: relative;

          @include grid-media($desktop-up) {
            margin-left: 0;
            margin-right: 0;
            overflow: unset;
            text-align: center;
            margin-top: -10px;
          }

          .filters-container {
            white-space: nowrap;

            @include grid-media($desktop-up) {
              white-space: normal;
            }

            .filter {
              display: inline-block;
              margin-right: 10px;

              @include grid-media($desktop-up) {
                margin-top: 10px;
              }

              .btn-gray.is-checked {
                color: $white;
                background-color: $action-color;
                border-color: $action-color;
              }
            }
          }
        }
      }

      .items {
        &.case-studies {
          max-width: 335px;
          margin-left: auto;
          margin-right: auto;

          @include grid-media($desktop-up) {
            margin-left: -10px;
            margin-right: -10px;
            max-width: none;
          }
        }

        .item {
          border-radius: $base-border-radius * 2;
          background-color: rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: auto;
          margin-right: auto;
          background-size: cover;
          background-position: center;
          width: 100%;
          height: 360px;
          padding-left: 30px;
          padding-right: 30px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          @include grid-media($desktop-up) {
            width: 380px;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
          }
  
          &:before {
            content: "";
            display: block;
            border-radius: $base-border-radius * 2;
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
  
          .title {
            font-family: $heading-font-family;
            @include sh-fs;
            font-weight: 900;
            line-height: 1.5;
            color: #ffffff;
            text-align: center;
            position: relative;
            z-index: 2;

            @include grid-media($desktop-up) {
              line-height: 1;
            }
          }

          .button {
            text-align: center;
            margin-top: 60px;
            position: relative;
            z-index: 2;
          }
        }

        .item.--not-loaded {
          display: none;
        }
      }      
    }
  }
}