@include jacket(non-critical) {
  .section.--case-study {
    padding-top: 0;
    padding-bottom: 0;

    .section__content {
      @include b-fs;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-position: center;
      width: 100%;
      padding-top: 60px;
      padding-right: 30px;
      padding-bottom: 60px;
      padding-left: 30px;
      position: relative;

      @include grid-media($desktop-up) {
        width: auto;
        padding-top: 100px;
        padding-right: 100px;
        padding-bottom: 100px;
        padding-left: 100px;
      }
  
      &:before {
        content: "";
        display: block;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
  
      .section__title {
        font-family: $heading-font-family;
        @include h-fs;
        font-weight: 900;
        line-height: 1.5;
        color: $white;
        text-align: center;
        position: relative;
        z-index: 2;

        @include grid-media($desktop-up) {
          line-height: 1;
        }
      }

      .section__text {
        @include b-fs;
        font-weight: 300;
        line-height: 1.45;
        text-align: center;
        color: $white;
        position: relative;
        z-index: 2;
        padding-top: 20px;

        @include grid-media($desktop-up) {
          padding-top: 40px;
        }

        span {
          font-weight: 700;
          line-height: 1.75;
          text-transform: uppercase;
        }
      }

      .info {
        @include grid-container;
        @include grid-collapse;
        margin-top: 100px;
        border-top: 1px #ffffff solid;
        padding-top: 30px;
        position: relative;
        z-index: 2;

        @include grid-media($desktop-up) {
          margin-top: 140px;
        }

        .info-item {
            @include grid-column(4);
            text-align: center;
          
          .value {
            font-family: $heading-font-family;
            font-size: 18px;
            font-weight: 900;
            line-height: 1.25;
            text-align: center;
            color: $white;
            height: 44px;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            @include grid-media($desktop-up) {
              @include sh-fs;
              margin-bottom: 20px;
              height: auto;
            }
          }

          .key {
            @include fs4;
            line-height: 1.56;
            text-align: center;
            color: $white;
            height: 54px;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            @include grid-media($desktop-up) {
              height: auto;
            }
          }
        }
      }
    }
  }

  .section.--customer-story {
    .section__content {
      .section__title {
        text-align: center;
      }
  
      .items {
        @include grid-media($desktop-up) {
          @include grid-container;
          @include grid-collapse;
          margin-top: 100px;
        }

        .item {
          margin-top: 60px;

          @include grid-media($desktop-up) {
            margin-top: 0;
            @include grid-column(4);
          }
  
          .title {
            @include b-fs;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.32;
            letter-spacing: 0.01em;
            color: $action-color; 
            max-width: 210px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
    
            @include grid-media($desktop-up) {
              max-width: none;
            }
          }
  
          .text {
            @include fs3;
  
            @include grid-media($desktop-up) {
              padding-right: 70px;
            }
          }
        }
      }

      .quote {
        text-align: center;
        margin-top: 150px;

        @include grid-media($desktop-up) {
          max-width: 980px;
          margin-right: auto;
          margin-left: auto;
        }

        .text {
          font-family: $heading-font-family;
          font-size: 22px;
          font-weight: 700;
          font-style: italic;
          line-height: 1.33;

          @include grid-media($desktop-up) {
            font-size: 30px;
          }
            
          .quote-mark {
            font-family: $heading-font-family;
            font-size: 60px;
            font-weight: 700;
            font-style: italic;
            line-height: 0.63;

            @include grid-media($desktop-up) {
              font-size: 80px;
            }
          }
        }
        .author {
          @include fs2;
          font-weight: 300;
          line-height: 1.43;
          margin-top: 40px;

          strong {
            font-weight: 700;
          }
        }
      }
    }
  }
}