@include jacket(non-critical) {
  .section.--cover {
    padding-top: 0;
    padding-bottom: 0;

    .container {
      max-width: none;

      .section__content, .section__header {
        width: 100%;
        margin-left: 0;
        float: none;
      }
    }

    .section__content {
      @include fs3;

      .cover {
        width: 100%;
        height: 175px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include grid-media($desktop-up) {
          height: 480px;
        }
      }
    }
  }
}