@include jacket(non-critical) {
  .section.--skills {
    text-align: left;

    .section__header {
      .section__title {
        text-align: center;
      }
    }

    .section__content {
      .filters {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 100%;
          top: -5px;
          left: -20px;
          z-index: 1;
          background-image: linear-gradient(
            to right,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

          @include grid-media($desktop-up) {
            display: none;
          }
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 50px;
          height: 100%;
          top: -5px;
          right: -20px;
          z-index: 1;
          background-image: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

          @include grid-media($desktop-up) {
            display: none;
          }
        }

        .filters-track {
          margin-bottom: 30px;
          margin-left: -20px;
          margin-right: -20px;
          padding-bottom: 10px;
          padding-left: 20px;
          padding-right: 20px;
          overflow: auto;
          position: relative;

          @include grid-media($desktop-up) {
            margin-left: 0;
            margin-right: 0;
            overflow: unset;
            text-align: center;
            margin-top: -10px;
          }

          .filters-container {
            white-space: nowrap;

            @include grid-media($desktop-up) {
              white-space: normal;
            }

            .filter {
              display: inline-block;
              margin-right: 10px;

              @include grid-media($desktop-up) {
                margin-top: 10px;
              }

              .btn-gray.is-checked {
                color: $white;
                background-color: $action-color;
                border-color: $action-color;
              }
            }
          }
        }
      }

      .boxes {
        &.grid {
          max-width: 335px;
          margin-left: auto;
          margin-right: auto;

          @include grid-media($desktop-up) {
            margin-left: -10px;
            margin-right: -10px;
            max-width: none;
          }
        }

        .box {
          border-radius: $base-border-radius * 4;
          background-color: #ffffff;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          margin-bottom: 10px;
          position: relative;

          @include grid-media($desktop-up) {
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
          }

          .title {
            @include fs4;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.22;
            letter-spacing: 0.8px;
            color: $white;
            margin-bottom: 10px;
          }

          .text {
            @include fs3;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.03em;
            color: $white;
          }

          .box-header {
            padding: 0 $base-spacing * 2 0 $base-spacing * 2;
            border-top-left-radius: $base-border-radius * 4;
            border-top-right-radius: $base-border-radius * 4;
            position: relative;

            @include grid-media($desktop-up) {
              padding: 0 $base-spacing * 2 0 $base-spacing * 2;
            }

            .skill-name {
              border-radius: $base-border-radius * 5;
              background-color: rgba(255, 255, 255, 0.2);
              border: solid 0.5px $white;
              display: inline-block;
              padding: $small-spacing $base-spacing;

              .skill-name-label {
                @include fs0;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.8px;
                text-align: center;
                color: $white;
              }
            }

            .logo {
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
            }
          }

          .box-content {
            padding: $base-spacing * 2;
            border-bottom-left-radius: $base-border-radius * 4;
            border-bottom-right-radius: $base-border-radius * 4;
            position: relative;

            .show-more,
            .show-less {
              font-size: 10px;
              font-weight: 600;
              text-transform: uppercase;
              line-height: 1.14;
              letter-spacing: 0.01em;
              color: $white;

              @include grid-media($desktop-up) {
                @include fs2;
              }
            }
          }

          .box-front {
            .box-content {
            }
          }

          .box-back {
            display: none;

            .box-header {
              background-color: $white;
              padding: $base-spacing * 4;

              .title {
                margin-top: $base-spacing;
              }
            }

            .box-content {
              background-color: $white;
            }
          }
        }

        .box.--hide {
          display: none !important;
        }

        // .box.--open {
        //   .box-front {
        //     display: none;
        //   }

        //   .box-back {
        //     display: block;
        //   }
        // }

        .box.--small {
          width: 47.5%;

          @include grid-media($desktop-up) {
            width: 380px;
          }
        }

        .box.--big {
          width: 97.5%;

          @include grid-media($desktop-up) {
            width: 780px;
          }
        }

        .box.--big.--mobile {
          margin-left: 1.25%;
          margin-right: 1.25%;

          @include grid-media($desktop-up) {
            display: none;
          }

          .box-front {
            .box-header {
              background-size: cover;
              background-color: rgba(29, 29, 29, 0.7);
              padding: 0;

              .logo {
                img {
                  max-width: 120px;
                  max-height: 50px;
                }
              }

              .carousel.--gallery {
                img {
                  height: 132px;
                  width: auto !important;
                  max-width: none;
                }
              }
            }

            .box-content {
              position: relative;
              padding: 10px 10px 10px 10px;

              .title {
                display: inline-block;
                margin-bottom: 0;
              }

              .show-more {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;

                button {
                  height: 100%;
                  border-bottom-right-radius: $base-border-radius * 4;
                  padding-left: 10px;
                  padding-right: 10px;
                }
              }
            }
          }

          .box-back {
            .box-header {
              padding: 20px 10px 20px 10px;
              height: auto;

              .title {
                margin-top: 0;
              }

              .text {
                @include fs1;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;

                p {
                  margin: 0;
                }
              }
            }

            .box-content {
              min-height: 120px;
              position: relative;
              padding-left: 10px;
              padding-right: 10px;

              @include grid-media($desktop-up) {
                min-height: 167px;
              }

              .clients {
                .label {
                  @include fs1;
                  font-weight: 700;
                  text-transform: uppercase;
                  line-height: 1;
                  letter-spacing: 0.01em;
                  display: inline-block;
                  margin-right: $small-spacing * 2;
                }

                .items {
                  @include fs1;
                  font-weight: 300;
                  line-height: 1.5;
                  letter-spacing: 0.03em;
                  display: inline-block;
                }
              }

              .certificates {
                .label {
                  @include fs1;
                  font-weight: 700;
                  text-transform: uppercase;
                  line-height: 1;
                  letter-spacing: 0.01em;
                  display: inline-block;
                  vertical-align: top;
                  margin-right: $base-spacing * 2;
                }

                .items {
                  display: inline-block;

                  .certificate {
                    margin-right: $base-spacing;

                    img {
                      max-height: 32px;
                      width: auto;
                    }
                  }
                }
              }

              .show-less {
                text-align: right;
                position: absolute;
                bottom: 10px;
                right: 10px;

                @include grid-media($desktop-up) {
                  bottom: 20px;
                  right: 20px;
                }
              }
            }
          }
        }

        .box.--small.--mobile {
          margin-right: 1.25%;
          margin-left: 1.25%;

          @include grid-media($desktop-up) {
            display: none;
          }

          .box-front {
            .box-header {
              padding: 20px;
              height: 132px;

              .logo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                top: 40px;

                img {
                  max-width: 120px;
                  max-height: 50px;
                }
              }

              .title {
                text-align: center;
                margin-bottom: 0;
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
              }
            }

            .box-content {
              padding: 9px 20px 9px 20px;
              text-align: center;
            }
          }

          .box-back {
            .box-header {
              padding: 20px 20px 20px 20px;
              text-align: center;
              height: 132px;

              .text {
                font-size: 12px;

                p {
                  margin: 0;
                }
              }
            }

            .box-content {
              padding: 9px 20px 9px 20px;
              text-align: center;
            }
          }
        }

        .box.--big.--desktop {
          display: none;

          @include grid-media($desktop-up) {
            display: block;
          }

          .box-content {
            height: 119px;

            .text {
              p {
                margin: 0;
              }
            }

            .box-button {
              margin-top: 39px;
            }
          }

          .box-front {
            .box-header {
              height: 230px;

              .skill-name {
                position: absolute;
                top: 20px;
                left: 20px;
              }

              .view-showcase {
                font-family: "Poppins", sans-serif;
                @include fs3;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1;
                letter-spacing: 0.3px;
                color: $white;
                text-align: right;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;

                a {
                  color: $white;
                }

                span {
                  margin-left: 20px;
                }
              }

              .logo {
                img {
                  max-width: 200px;
                  max-height: 100px;
                }
              }

              .title {
                margin-top: 20px;
              }
            }
          }

          .box-back {
            .box-header {
              padding: 20px 20px 20px 20px;
              height: 184px;

              .title {
                margin-top: 20px;
              }

              .text {
                p {
                  margin: 0;
                }
              }
            }

            .box-content {
              .clients {
                .label {
                  @include fs2;
                  font-weight: 700;
                  text-transform: uppercase;
                  line-height: 1;
                  letter-spacing: 0.01em;
                  display: inline-block;
                  margin-right: $small-spacing * 13;
                }

                .items {
                  @include fs3;
                  font-weight: 300;
                  line-height: 1.5;
                  letter-spacing: 0.03em;
                  display: inline-block;
                }
              }

              .certificates {
                .label {
                  @include fs2;
                  font-weight: 700;
                  text-transform: uppercase;
                  line-height: 1;
                  letter-spacing: 0.01em;
                  display: inline-block;
                  vertical-align: top;
                  margin-right: $base-spacing * 2;
                }

                .items {
                  display: inline-block;
                  .certificate {
                    margin-right: $base-spacing;
                  }
                }
              }
            }

            .box-content {
              height: 196px;

              .show-less {
                text-align: right;
                position: absolute;
                bottom: 20px;
                left: 20px;
              }
            }
          }
        }

        .box.--small.--desktop {
          display: none;

          @include grid-media($desktop-up) {
            display: block;
          }

          .box-header {
            padding: $base-spacing * 2;
            height: 230px;
          }

          .box-content {
            height: 119px;
            padding-bottom: 50px;
          }

          .box-header {
            .logo {
              img {
                max-width: 200px;
                max-height: 100px;
              }
            }
          }
        }
      }

      .more-boxes {
        position: absolute;
        top: -99999px;
        left: -99999px;
        opacity: 0;
        z-index: -1;
      }

      // .load-more-skills {
      //   margin-top: 20px;

      //   button {
      //     width: 100%;
      //     height: 40px;
      //     border-radius: $base-border-radius * 2;
      //     border: 0;
      //     background-color: #f9f9f9;
      //     @include fs3;
      //     font-weight: 600;
      //     line-height: 1.13;
      //     letter-spacing: 0.9px;
      //     text-align: center;
      //     color: $gray-50;
      //   }
      // }
    }
  }
}