@include jacket(non-critical) {
  .section.--logos {
    .section__header {
      text-align: center;

      h2 {
        br {
          display: none;

          @include grid-media($desktop-up) {
            display: block;
          }
        }
      }
    }

    .section__content {
      text-align: center;

      .logos {
        margin-top: -20px;
        margin-bottom: 40px;
        margin-left: -20px;
        margin-right: -20px;

        @include grid-media($desktop-up) {
          margin-top: 15px;
          margin-bottom: 80px;
          margin-left: 0;
          margin-right: 0;
        }

        .logo {
          display: inline-block;
          margin-right: 12px;
          margin-left: 12px;
          margin-top: 15px;
          margin-bottom: 15px;
          vertical-align: middle;

          @include grid-media($desktop-up) {
            margin-right: 52px;
            margin-left: 52px;
            margin-top: 0;
            margin-bottom: 0;
          }

          img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.6;
            width: 100%;
            height: auto;
            max-width: 170px;
            max-height: 100px;
            margin-top: 35px;
          }

          img:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1;
          }  
        }
      }

      .text {
        @include grid-media($desktop-up) {
          max-width: 990px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .section.--logos.--right {
    .container {
      @include grid-media($desktop-up) {
        display: flex;
        align-items: center;
      }
    }

    .section__header {
      @include grid-media($desktop-up) {
        text-align: left;
        @include grid-column(6);
      }

      .section__title {
        h2 {
          margin-bottom: 20px;

          @include grid-media($desktop-up) {
            margin-bottom: 30px;
          }
        }
      }
    }

    .section__content {
      margin-top: 20px;

      @include grid-media($desktop-up) {
        @include grid-column(6);
        margin-top: 0;
        margin-right: 0;
      }

      .logos {
        @include grid-container;
        margin-left: -20px;
        margin-right: -20px;

        @include grid-media($desktop-up) {
          margin-top: -27.5px;
          margin-bottom: -27.5px;
        }

        .logo {
          @include grid-column(4);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 0;
          
          @include grid-media($desktop-up) {
            @include grid-column(6);
            margin-top: 27.5px;
            margin-bottom: 27.5px;
            height: 95px;
          }

          img {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1;
          }
        }

        .logo-1 {
          img {
            @include grid-media($desktop-up) {
              width: 168px;
              height: 93px;
            }
          }
        }

        .logo-2 {
          img {
            @include grid-media($desktop-up) {
              width: 183px;
              height: 95px;
            }
          }
        }

        .logo-3 {
          img {
            @include grid-media($desktop-up) {
              width: 158px;
              height: 82px;
            }
          }
        }

        .logo-4 {
          img {
            @include grid-media($desktop-up) {
              width: 141px;
              height: 82px;
            }
          }
        }

        .logo-5 {
          img {
            @include grid-media($desktop-up) {
              width: 159px;
              height: 96px;
            }
          }
        }
        .logo-6 {
          img {
            @include grid-media($desktop-up) {
              width: 164px;
              height: 62px;
            }
          }
        }
      }
    }
  }
}