@include jacket(non-critical) {
  .section.--open-positions {
    .section__header {
      .section__title {
    
        h2 {
          font-family: $base-font-family;
          text-align: center;
          color: $action-color;
          margin-bottom: 45px;

          @include grid-media($desktop-up) {
            color: $base-font-color;
            margin-bottom: 60px;
          }
        }
      }
    }

    .section__content {
      @include fs3;

      .filters {
        margin-bottom: 40px;

        @include grid-media($desktop-up) {
          margin-bottom: 60px;
        }

        .locations-filter {
          display: inline-block;

          @include grid-media($desktop-up) {
            margin-right: 70px;
          }

          .dropdown {
            width: 155px;
            height: 40px;
            border: 1px $gray-80 solid;
            border-radius: 24px;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 5px;
            margin-left: 5px;

            @include grid-media($desktop-up) {
              width: 194px;
              font-size: 16px;
              padding-left: 20px;
              padding-right: 20px;
            }
          }

          select {
            background: transparent;
            border: none;
            font-size: 14px;
            width: 125px;
            height: 40px;
            outline: none;

            @include grid-media($desktop-up) {
              width: 155px;
              font-size: 16px;
            }
          }
        }
      }

      .vertical-tabs-container {
        //$base-border-color: gainsboro !default;
        $base-border-radius: 2px !default;
        $base-background-color: white !default;
        $base-line-height: 1.5em !default;
        $base-spacing: 10px !default;
        $action-color: #477dca !default;
        $dark-gray: $gray-80 !default;
        $base-font-color: $dark-gray !default;
        $tab-border-color: $base-border-color;
        $tab-border: 1px solid $tab-border-color;
        $tab-border-radius: $base-border-radius;
        $tab-content-background: #f9f8f8;
        $tab-active-color: $tab-content-background;
        $tab-inactive-color: $base-background-color;
        $vertical-tabs-height: 18.75em;
      
        @include clearfix;
        //border: $tab-border;
        border-radius: $tab-border-radius * 4;
        // padding-bottom: $base-spacing * 3;
        //overflow: hidden;
        position: relative;

        ul {
          margin-left: 20px;
        }
      
        li {
          list-style: none;list-style: disc;
          text-align: left;
          margin-bottom: 15px;
        }

        li:last-child {
          margin-bottom: 0;
        }
      
        a {
          text-decoration: none;
        }
      
        .vertical-tabs {
          display: none;
      
          @include grid-media($desktop-up) {
            background-color: $tab-inactive-color;
            display: inline;
            float: left;
            //height: $vertical-tabs-height;
            width: 40%;
          }
        }
      
        .vertical-tab {
          display: block;
          margin-bottom: 90px;
          max-width: 200px;
          word-break: normal;

          @include grid-media($desktop-up) {
            //border-bottom: $tab-border;
            //display: block;
            font-weight: 700;
            margin-right: -1px;
            margin-bottom: 0;
            padding: ($base-spacing * 3) ($base-spacing  *3);
            background-color: $white;
            max-width: none;
      
            &.is-active {
              background-color: $tab-content-background;
              margin-right: -1px;
            }
            
          }

          h3 {
            @include b-fs;
            font-family: $base-font-family;
            font-weight: 700;
            text-transform: uppercase;
            color: $action-color;
            margin-bottom: 15px;
            max-width: 250px;
          }

          p {
            @include fs3;
            font-weight: 300;
            color: #383838;
            margin-bottom: 45px;
          }

          .apply {
            @include fs3;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.01em;
            color: $action-color;
          }
        }
      
        a.vertical-tab-accordion-heading,
        a.vertical-tab {
          border-top-left-radius: $tab-border-radius * 4;
          border-bottom-left-radius: $tab-border-radius * 4;
          color: $dark-gray;
        }
      
        .vertical-tab:focus {
          outline: none;
        }
      
        .vertical-tab-content-container {
          display: block;
          margin: 0 auto;
          margin-top: -45px;

          @include grid-media($desktop-up) {
            margin-top: 0;
          }
      
          & a:focus {
            outline: none;
          }
      
          @include grid-media($desktop-up) {
            @include size(60%, auto);
            //background-color: $tab-content-background;
            display: inline-block;
            border-bottom-left-radius: $base-border-radius * 4;

            //position: absolute;
            //top: 0;
            //right: 0;
            width: 60%;
            //height: 100%;
          }

          a {
            h3 {
              @include b-fs;
              font-family: $base-font-family;
              font-weight: 700;
              text-transform: uppercase;
              color: $base-font-color;
              margin-bottom: 15px;
            }
  
            p {
              @include fs3;
              font-weight: 300;
              color: #383838;
              margin-bottom: 45px;
            }

            .apply {
              @include fs3;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: 0.01em;
              color: $action-color;
            }
          }
        }
      
        .vertical-tab-content {
          background-color: $tab-content-background;
          padding: $base-spacing * 4 $base-spacing * 3 $base-spacing * 4 $base-spacing * 3;
          margin-top: $base-spacing * 3;
          margin-right: -20px;
          margin-bottom: $base-spacing * 5;
          margin-left: -20px;


          @include grid-media($desktop-up) {
            padding: $base-spacing * 3 $base-spacing * 5 $base-spacing * 5 $base-spacing * 5;
            margin-top: 0;
            margin-right: 0;
            margin-bottom : 0;
            margin-left: 0;
            position: relative;
            top: 0;
            border: 0;
            display: none;
          }

          h3 {
            @include b-fs;
            font-family: $base-font-family;
            font-weight: 700;
            text-transform: uppercase;
            color: $action-color;
            margin-bottom: 30px;
            max-width: 200px;
            margin-right: auto;
            margin-left: auto;

            @include grid-media($desktop-up) {
              max-width: none;
              margin-right: 0;
              margin-left: 0;
            }
          }

          .description {
            text-align: left;
          }

          
          p {
            font-family: $base-font-family;
            color: $base-font-color;
            line-height: $base-line-height;
            text-align: left;
          }

          .button {
            margin-top: 60px;
          }

          .social-media {
            font-size: 0;
            margin-top: 40px;

            @include grid-media($desktop-up) {
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              margin-top: -60px;
            }

            .share {
              @include fs3;
              font-weight: 500;
              text-transform: uppercase;
              letter-spacing: 0px;
              color: $action-color;
              margin-right: 20px;
              display: inline-block;
              vertical-align: middle;

              @include grid-media($desktop-up) {
                display: block;
              }
            }

            .social-icons {
              display: inline-block;
              vertical-align: middle;

              @include grid-media($desktop-up) {
                display: block;
              }

              ul {
                li {
                  display: inline-block;
                  margin-right: 30px;
        
                  @include grid-media($desktop-up) {
                    margin-right: 0;
                    margin-left: 15px;
                  }
        
                  a {
                    transition: opacity $base-duration $base-timing;
        
                    &:hover {
                      opacity: 0.75;
                    }
                  }
                }
              }
            }
          }
        }
      
        .vertical-tab-accordion-heading {
          //border-top: $tab-border;
          cursor: pointer;
          display: block;
          font-weight: bold;
          padding: $base-spacing / 2 $base-spacing / 2;
          margin-top: $base-spacing * 9;
          word-break: normal;         

          @include grid-media($desktop-up) {
            background-color: $tab-inactive-color;
            margin-top: 0;
            max-width: none;
          }
      
          &:focus,
          &:hover {
            color: $action-color;
          }
      
          &:first-child {
            border-top: 0;
            //margin-top: 0;
          }
      
          &.is-active {
            background: $white;
            border-bottom: 0;
            //margin-top:  $base-spacing * 3;

            @include grid-media($desktop-up) {
              background-color: $tab-inactive-color;
              //margin-top: 0;
            }
          }
      
          @include grid-media($desktop-up) {
            display: none;
          }

          h3 {
            max-width: 200px;
            margin-right: auto;
            margin-left: auto;
          }
        }

        .--not-loaded {
          display: none;
        }
      }

      .more {
        margin-top: 50px;

        @include grid-media($desktop-up) {
          margin-top: 100px;
        }
      }
    }
  }
}