@include jacket(non-critical) {
  .section.--services {
    .section__header {
      text-align: center;
  
      @include grid-media($desktop-up) {
        @include grid-column(12);
      }
  
      .section__image {
        text-align: center;
        margin-bottom: 30px;
        
        @include grid-media($desktop-up) {
          margin-bottom: 50px;
        }
      }
  
      .section__title {
        text-align: center;
        margin-bottom: 20px;
  
        @include grid-media($desktop-up) {
          margin-bottom: 30px;
        }
      }
  
      .section__text {
        text-align: center;
      }
    }
  
    .section__content {
      margin-top: 60px;
  
      @include grid-media($desktop-up) {
        @include grid-column(12);
        margin-top: 100px;
        margin-right: 0;
      }
  
      .items {
        @include grid-media($desktop-up) {
          display: flex;
          justify-content: center;
        }
        .item {
  
          @include grid-media($desktop-up) {
            width: calc(33.33333% - 26.67px);
            margin-left: 20px;
            
          }
  
          .title {
            @include b-fs;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.32;
            letter-spacing: 0.01em;
            color: $action-color; 
            max-width: 210px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 20px;
    
            @include grid-media($desktop-up) {
              max-width: none;
            }
          }
        
          .text {
            @include fs3;
  
            @include grid-media($desktop-up) {
              padding-right: 70px;
            }
  
            p {
              margin: 0;
            }
          }
      
          .show-more {
            @include fs3;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 0.0em;
            color: $action-color;
            margin-top: 20px;
            margin-bottom: 10px;
            cursor: pointer;
  
            @include grid-media($desktop-up) {
              margin-top: 30px;
            }
  
            &:hover {
              opacity: 0.85;
            }
          }
        }  
      }
    }
  }
}