@include jacket(non-critical) {
  .section.--stats {
    background-color: $gray-10;
    max-width: 100%;
  
    .section__content {
      .stats {
        @include grid-container;
      }

      .stat {
        @include grid-column(12);
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
  
        @include grid-media($desktop-up) {
          @include grid-column(3);
          margin-top: 0;
          margin-bottom: 0;
        }
  
        .value {
          font-size: 55px;
          font-family: 'Playfair Display';
          line-height: 1;
          color: $action-color;
          font-weight: 900;
          margin-bottom: 15px;

          .symbol,
          .letter {
            font-size: 40px;
          }
        }
  
        .key {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 600;
        }
      }
    }
  }
}