@include jacket(non-critical) {
  .section.--team-members {
    @include grid-container;
    background-color: $gray-10;
    max-width: 100%;
  
    .section__header {
      text-align: center;
      
      .section__title {
        h2 {
          margin-bottom: 60px;
        }
      }
    }
  
    .section__content {
      .team-members {
        .team-member {
          text-align: center;
  
          .image {
            margin-bottom: 30px;
  
            img {
              border-radius: 100%;
              border: 2px $green solid;
              display: inline-block;
            }
          }
    
          .text {
            @include b-fs;
            font-family: 'Playfair Display';
            font-weight: 300;
            line-height: 1.5;
            padding-right: 20px;
            padding-bottom: 30px;
            padding-left: 20px;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
    
            @include grid-media($desktop-up) {
              //height: 195px;
              padding-right: 40px;
              padding-left: 40px;
            }
          }
    
          .name {
            font-size: 16px;
            line-height: 1.25;
            font-weight: 600;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
    
            @include grid-media($desktop-up) {
              line-height: 1;
              padding-right: 20px;
              padding-left: 20px;
            }
          }
  
          .title {
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            color: $green;
            padding-top: 0;
            padding-right: 40px;
            padding-bottom: 20px;
            padding-left: 40px;
          }
        }
      }
    }
  }
}