@include jacket(non-critical) {
  .section.--text-and-media {
    .container {
      @include grid-media($desktop-up) {
        display: flex;
        align-items: center;
      }
    }
  
    .section__header {
      @include grid-media($desktop-up) {
        @include grid-column(6);
        text-align: left;
        margin-right: 20px;
        margin-left: 0;
        padding-left: 30px;
      }
    }
  
    .section__content {
      margin-top: 20px;
  
      @include grid-media($desktop-up) {
        @include grid-column(6);
        margin-top: 0;
        margin-right: 20px;
        margin-left: 0;
        text-align: left;
      }
  
      .section__text {
        @include b-fs;
      }
    }
  }
}